<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>发动态</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- jquery-weui-css -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/weui.css">
    <link rel="stylesheet" href="__STATIC__/js/js-plugins/jquery-weui-build/jquery-weui.min.css">
    <!-- 表情插件-css -->
    <link rel="stylesheet" href="__STATIC__/js/js-plugins/jQuery-emoji-master20160321/lib/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="__STATIC__/js/js-plugins/jQuery-emoji-master20160321/dist/css/jquery.emoji.css">
    <!-- 页面-css -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/base.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/dongtai-common.css">
    <script type="text/javascript">
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 375 * 100 + 'px';
    </script>
</head>

<body class="edit">
    <header>
        <div class="cancel">取消</div>
        <div class="title">发动态</div>
        <div class="save">确定</div>
    </header>

    <div class="edit-page">
        <form id="dynamicForm" action="http://meiliyue.caapa.org/index.php/Api/Dynamics/add" method="post" enctype="multipart/form-data">
            <!-- 隐藏域 -->
            <input type="text" value="" name="user_id" style="display: none;">
            <input type="text" value="" name="type" style="display: none;">
            <input type="text" value="" name="content" style="display: none;">
            <!-- 隐藏域 end -->
            <div class="edit-content">
                <!-- <textarea name="" id="edit-text" placeholder="此刻你在想什么......"></textarea> -->
                <div id="edit-text" contenteditable="true"></div>
                <div class="edit-expression">
                    <!-- <span class="face"></span> -->
                    <span class="textCount">
                        <span id="textCount">0</span>/1000</span>
                </div>
            </div>

            <div class="edit-pic" style="display: none;">
                <ul class="showPicUl">
                    <a href="javascript:void(0)" class="addPic">
                        <img src="__STATIC__/images/icon/add.png">
                    </a>
                </ul>
            </div>
        </form>
    </div>

    <!-- 模态框 -->
    <div class="confirmDelete" style="display: none;">
        <p>
            你尚未发布，确认删除？
        </p>
        <div class="confirmDelete-btngroup">
            <a href="javascript:void(0)" class="cancelDelete">取消</a>
            <a href="javascript:void(0)" class="delete">确定</a>
        </div>
    </div>

    <!-- ------------------------------------ -->
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- jquery-weui-js -->
    <script src="__STATIC__/js/js-plugins/jquery-weui-build/jquery-weui.min.js"></script>
    <script src="__STATIC__/js/js-plugins/jquery-weui-build/swiper.min.js"></script>
    <!-- 表情插件-js -->
    <script src="__STATIC__/js/js-plugins/jQuery-emoji-master20160321/lib/script/jquery.mCustomScrollbar.min.js"></script>
    <script src="__STATIC__/js/js-plugins/jQuery-emoji-master20160321/dist/js/jquery.emoji.min.js"></script>
    <!-- jquery.form-js -->
    <script src="__STATIC__/js/js-plugins/jquery.form.js"></script>
    <script>
        var GlobalHost = "http://meiliyue.caapa.org";
        var Edit = {
            _user_id: "",
            _type: "",

            //取消照片
            cancelPic: function (el) { //pic的a标签
                if ($(".mask").length == 0) {
                    $('body').append($('<div class="mask"></div>'));
                }
                $('.confirmDelete').show()

                //取消删除
                $(".cancelDelete").click(function () {
                    $('.mask').remove()
                    $('.confirmDelete').hide()
                })
                //确认删除
                $(".delete").click(function () {
                    $('.mask').remove()
                    $('.confirmDelete').hide()

                    $(el).closest('.edit-pic-item').remove()
                })
            },
            //生成表情插件
            generateFace: function () {
                $("#edit-text").emoji({
                    showTab: false,
                    animation: 'fade',
                    icons: [{
                        name: "贴吧表情",
                        path: "__STATIC__/js/js-plugins/jQuery-emoji-master20160321/dist/img/tieba/",
                        maxNum: 50,
                        file: ".jpg",
                        placeholder: ":{alias}:",
                        alias: {
                            1: "hehe",
                            2: "haha",
                            3: "tushe",
                            4: "a",
                            5: "ku",
                            6: "lu",
                            7: "kaixin",
                            8: "han",
                            9: "lei",
                            10: "heixian",
                            11: "bishi",
                            12: "bugaoxing",
                            13: "zhenbang",
                            14: "qian",
                            15: "yiwen",
                            16: "yinxian",
                            17: "tu",
                            18: "yi",
                            19: "weiqu",
                            20: "huaxin",
                            21: "hu",
                            22: "xiaonian",
                            23: "neng",
                            24: "taikaixin",
                            25: "huaji",
                            26: "mianqiang",
                            27: "kuanghan",
                            28: "guai",
                            29: "shuijiao",
                            30: "jinku",
                            31: "shengqi",
                            32: "jinya",
                            33: "pen",
                            34: "aixin",
                            35: "xinsui",
                            36: "meigui",
                            37: "liwu",
                            38: "caihong",
                            39: "xxyl",
                            40: "taiyang",
                            41: "qianbi",
                            42: "dnegpao",
                            43: "chabei",
                            44: "dangao",
                            45: "yinyue",
                            46: "haha2",
                            47: "shenli",
                            48: "damuzhi",
                            49: "ruo",
                            50: "OK"
                        },
                        title: {
                            1: "呵呵",
                            2: "哈哈",
                            3: "吐舌",
                            4: "啊",
                            5: "酷",
                            6: "怒",
                            7: "开心",
                            8: "汗",
                            9: "泪",
                            10: "黑线",
                            11: "鄙视",
                            12: "不高兴",
                            13: "真棒",
                            14: "钱",
                            15: "疑问",
                            16: "阴脸",
                            17: "吐",
                            18: "咦",
                            19: "委屈",
                            20: "花心",
                            21: "呼~",
                            22: "笑脸",
                            23: "冷",
                            24: "太开心",
                            25: "滑稽",
                            26: "勉强",
                            27: "狂汗",
                            28: "乖",
                            29: "睡觉",
                            30: "惊哭",
                            31: "生气",
                            32: "惊讶",
                            33: "喷",
                            34: "爱心",
                            35: "心碎",
                            36: "玫瑰",
                            37: "礼物",
                            38: "彩虹",
                            39: "星星月亮",
                            40: "太阳",
                            41: "钱币",
                            42: "灯泡",
                            43: "茶杯",
                            44: "蛋糕",
                            45: "音乐",
                            46: "haha",
                            47: "胜利",
                            48: "大拇指",
                            49: "弱",
                            50: "OK"
                        }
                    }]
                });
            },
            //发动态
            sendDynamic: function () {

                var contentStr = document.getElementById("edit-text").innerHTML.trim();

                // var saveContentStr = contentStr.replace(/<img class=\"emoji_icon\" src=\"([^>]*)\">/g, "$1");
                // // __STATIC__/js/js-plugins/jQuery-emoji-master20160321/dist/img/tieba/14.jpg"
                // // str.replace(/<img[^>]*>/g, "[图片]");

                // var postData = {
                //     user_id: Edit._user_id,
                //     type: Edit._type, //1文字2图片3视频
                //     content: contentStr,
                //     image: null,
                //     video: null,
                // }

                // var filesArr = [];
                // if ($(".albumInput").length !== 0) {
                //     $(".albumInput").each(function () {
                //         filesArr.push(this.files[0]);
                //     });

                //     switch (Edit._type) {
                //         case 1:
                //             break;
                //         case 2: //图片
                //             postData.image = filesArr;
                //             break;
                //         case 3: //视频
                //             postData.video = filesArr;
                //             break;
                //         default:
                //             break;
                //     }
                // }
                // console.log(postData)
                // return
                // $.ajax({
                //     type: "POST",
                //     url: GlobalHost + "/index.php/Api/Dynamics/add",
                //     data: postData,
                //     dataType: "json",
                //     processData: false,
                //     contentType: false,
                //     success: function (result) {
                //         console.log(result)
                //     }
                // });

                //jquery.form.js方法
                $(":input[name='user_id']").val(Edit._user_id);
                $(":input[name='type']").val(Edit._type);
                $(":input[name='content']").val(contentStr);

                Edit.openLoading();

                $("#dynamicForm").ajaxSubmit(function (result) {  
                    console.log(result)                  
                    if (result.msg == "操作成功") {
                        Edit.closeLoading("发布成功", function () {
                            //关闭 返回
                            window.history.back(-1);
                        });
                    }  
                });

            },
            openLoading: function () {
                if ($(".msgWrap").length == 0) {
                    $("body").append($('<div class="msgWrap"></div>'));
                }
                if ($(".mLoading").length == 0) {
                    $("body").append($('<div class="mLoading">处理中...</div>'));
                }
            },
            closeLoading: function (resultMsg, callback) {
                $(".mLoading").html(resultMsg);
                setTimeout(function () {
                    $(".mLoadingMask")
                        .add($(".mLoading")).remove();
                    callback();
                }, 500);
            },
            messageWin: function (msg) {
                if ($(".msgWrap").length == 0) {
                    let $msgDiv = $(
                        `
                        <div class="msgWrap">
                            <div class="msg">
                                <p class="msgText">${msg}</p>
                                <p class="msgCtrl">
                                    <span class="closeMsg">确定</span>
                                </p>
                            </div>
                        </div>
                    `
                    );
                    //msg点击事件
                    $msgDiv.find(".msgCtrl").click(function () {
                        $msgDiv.remove();
                    });
                    $("body").append($msgDiv);
                }
            },
            //添加图片
            addPic: function () {
                if ($("img.showPic").length >= 9) {
                    // alert("最多上传9张图片")
                    Edit.messageWin("最多上传9张图片");
                    return;
                }
                var $liTemp = $(
                    `
                        <li class="edit-pic-item">
                            <input class="albumInput" name="image[]" type="file" accept="image/*" value="" style="display: none">
                            <img class="showPic" data-index=${$(".edit-pic-item").length} src="__STATIC__/images/icon/tx.png">
                            <a href="javascript:void(0)" class="edit-closePic"></a>
                        </li>
                    `
                );

                $liTemp.find(".albumInput").change(function () {
                    readURL(this);
                });
                readURL(this);

                //触发点击input file
                $liTemp.find(".albumInput")[0].click()

                function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $liTemp.find('.showPic').attr('src', e.target.result);

                            //添加图片成功 后
                            $(".showPicUl").prepend($liTemp)

                            //取消图片
                            $liTemp.find("a.edit-closePic").click(function () {
                                Edit.cancelPic(this)
                            })

                        }
                        reader.readAsDataURL(input.files[0]);
                    }
                }
            },
            showFullPic: function (el) {
                let index = $(el).attr("data-index");
                let srcArr = [];
                $(".showPicUl .showPic").each(function () {
                    srcArr.unshift($(this).attr("src"));
                });
                console.log(srcArr)
                let swiper = $.photoBrowser({
                    items: srcArr
                });
                // swiper.open(index);
                swiper.open();
            },
            //添加视频
            addVideo: function () {
                console.log("添加video")
                if ($("video.showPic").length >= 1) {
                    Edit.messageWin("视频最多上传一个");
                    return;
                }
                var $liTemp = $(
                    `
                        <li class="edit-pic-item">
                            <input class="albumInput" name="video" style="display: none" type="file" accept="video/*" capture="camcorder">
                            <video class="showPic" src="" style="" preload="auto"></video>
                            <a href="javascript:void(0)" class="edit-closePic"></a>
                        </li>
                    `
                );

                //取消视频
                $liTemp.find("a.edit-closePic").click(function (event) {
                    event.stopPropagation();
                    Edit.cancelPic(this)
                })


                $liTemp.find(".albumInput").change(function () {
                    readURL(this);
                })
                //触发点击input file
                $liTemp.find(".albumInput")[0].click()

                function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $liTemp.find('video').attr('src', e.target.result);

                            //添加视频成功 后
                            $(".showPicUl").prepend($liTemp)

                            //预览全屏视频
                            $liTemp.find('video').click(function () {
                                let $fullScreen = $(
                                    `
                                    <div class="fullScreen">
                                        <div class="videoHeader">
                                            <div class="closeFullScreen"></div>
                                        </div>

                                        <div class="fullScreenScroll">
                                            <div class="fullScreenWrap">
                                                <video id="video1" width="100%" height="100%" src=${$(this).attr("src")} autoplay loop></video>
                                            </div>
                                        </div>
                                    </div>
                                `
                                );

                                //点击关闭事件
                                $fullScreen.find(".closeFullScreen").click(function () {
                                    $fullScreen.remove();
                                });

                                $("body").append($fullScreen);
                            });


                        }
                        reader.readAsDataURL(input.files[0]);
                    }
                }
            },
            //限制字数
            bindLimitCount: function () {
                var textarea = document.getElementById('edit-text')
                textarea.onchange = function () {
                    limitCount(this)
                }
                textarea.onkeydown = function () {
                    limitCount(this)
                }
                textarea.onkeyup = function () {
                    limitCount(this)
                }

                function limitCount(el) {
                    // console.log(el)
                    // console.log(el.innerHTML)
                    let vInnerHtml = el.innerHTML.replace(/<img[^>]*>/g, "图").trim()
                    console.log(vInnerHtml)
                    // el.value = el.value.substring(0, 1000)
                    let count = vInnerHtml.length
                    document.getElementById('textCount').innerHTML = count
                    if (count >= 1000) {
                        // alert("最多输入1000个字符")
                        Edit.messageWin("最多输入1000个字符");
                    }
                }
            },
            getPageInfo: function () {
                //_user_id
                // Edit._user_id={$info['user_id']};
                if (localStorage.getItem("mUserInfo") && localStorage.getItem("mUserInfo") !== null &&
                    localStorage.getItem("mUserInfo") !== "null") {
                    let mUserInfo = JSON.parse(JSON.parse(localStorage.getItem("mUserInfo")));
                    console.log(mUserInfo)
                    Edit._user_id = Number(mUserInfo.user_id);
                } else {
                    Edit._user_id = 1; //测试用
                }

                //_type
                let url = window.location.href;
                // url = "http://meiliyue.caapa.org/index.php/mobile/dynamics/add/type/3.html"; //测试用
                let strTemp = url.split("/add/type/")[1];
                let type = strTemp.substr(0, strTemp.length - 5);
                Edit._type = Number(type);

                //updateDom
                Edit.updateDom();
            },
            updateDom: function () {
                if (Edit._type !== 1) {
                    $(".edit-pic").show();
                }
            },
            eventsBind: function () {
                //限制字数
                Edit.bindLimitCount()
                //发动态
                $(".save").click(function () {
                    Edit.sendDynamic()
                })
                //返回
                $(".cancel").click(function () {
                    window.history.back(-1)
                })
                //添加图片
                $(".addPic").click(function () {
                    if (Edit._type == 3) { //添加视频
                        Edit.addVideo();

                        // if (window.plus) {
                        //     alert(2342432)
                        //     plusReady();
                        // } else {
                        //     alert("没有")
                        //     document.addEventListener('plusready', plusReady, false);
                        // }
                        // // H5 plus事件处理
                        // function plusReady() {
                        //     // 获取摄像头目录对象
                        //     plus.io.resolveLocalFileSystemURL('_doc/', function (entry) {
                        //         entry.getDirectory('camera', {
                        //             create: true
                        //         }, function (dir) {
                        //             gentry = dir;
                        //             updateHistory();
                        //         }, function (e) {
                        //             outSet('Get directory "camera" failed: ' + e.message);
                        //         });
                        //     }, function (e) {
                        //         outSet('Resolve "_doc/" failed: ' + e.message);
                        //     });
                        // }

                        // alert(12313121)
                        // const constraints = {
                        //     video: true,
                        //     audio: false
                        // };

                        // function getUserMedia(constraints, success, error) {
                        //     alert(444)
                        //     if (navigator.mediaDevices.getUserMedia) {
                        //         alert(55)
                        //         //最新的标准API
                        //         navigator.mediaDevices.getUserMedia(constraints).then(success).catch(
                        //             error);
                        //     } else if (navigator.webkitGetUserMedia) {
                        //         alert(66)
                        //         //webkit核心浏览器
                        //         navigator.webkitGetUserMedia(constraints, success, error)
                        //     } else if (navigator.mozGetUserMedia) {
                        //         alert(77)
                        //         //firfox浏览器
                        //         navigator.mozGetUserMedia(constraints, success, error);
                        //     } else if (navigator.getUserMedia) {
                        //         alert(888)
                        //         //旧版API
                        //         navigator.getUserMedia(constraints, success, error);
                        //     }
                        // }

                        // function success(stream) {
                        //     alert(12)
                        //     // //兼容webkit核心浏览器
                        //     // let CompatibleURL = window.URL || window.webkitURL;
                        //     // //将视频流设置为video元素的源
                        //     // console.log(stream);

                        //     // //video.src = CompatibleURL.createObjectURL(stream);
                        //     // video.srcObject = stream;
                        //     // video.play();
                        // }

                        // function error(error) {
                        //     aler(13)
                        //     // console.log(`访问用户媒体设备失败${error.name}, ${error.message}`);
                        // }

                        // if (navigator.mediaDevices.getUserMedia || navigator.getUserMedia || navigator.webkitGetUserMedia ||
                        //     navigator.mozGetUserMedia) {
                        //     //调用用户媒体设备, 访问摄像头
                        //     alert("go")
                        //     getUserMedia(constraints, success, error);
                        // } else {
                        //     alert('不支持访问用户媒体');
                        // }




                    } else {
                        Edit.addPic();
                    }
                })
                //点击图片显示大图
                $(".showPicUl").delegate("img.showPic", "click", function () {
                    console.log($(this).attr("src"))
                    Edit.showFullPic(this);
                });
            },
            init: function () {
                //得到userid 和 type
                Edit.getPageInfo();

                //表情插件
                Edit.generateFace()

                Edit.eventsBind()
            }
        }
        $(function () {
            Edit.init()
        })
    </script>
</body>

</html>