<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>动态</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- jquery-weui-css -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/weui.css">
    <link rel="stylesheet" href="__STATIC__/js/js-plugins/jquery-weui-build/jquery-weui.min.css">
    <!-- 页面-css -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/base.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/dongtai-common.css">
    <script type="text/javascript">
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 375 * 100 + 'px';
    </script>
</head>

<body class="dongtai">
    <div class="vueWrap" id="dongtaiApp">
        <div class="allWrap" :class="{blur:isReleasing}">
            <header>
                <div class="tabCut" :class="{actived:nowPage=='area'}" @click="cutTab('area')">
                    <span v-cloak v-text="nowArea"></span>
                    <ul class="mSelect" v-show="isShowArea">
                        <li v-cloak @click.stop="cutArea('同城')">
                            同城
                        </li>
                        <li v-cloak @click.stop="cutArea('全网')">
                            全网
                        </li>
                    </ul>
                </div>
                <div class="tabCut" :class="{actived:nowPage=='attended'}" @click="cutTab('attended')">
                    关注
                </div>
                <div class="tabCut" :class="{actived:nowPage=='video'}" @click="cutTab('video')">
                    叽喳
                </div>
            </header>


            <div class="pageWrap">
                <div class="weui-pull-to-refresh__layer" v-cloak>
                    <div class='weui-pull-to-refresh__arrow'></div>
                    <div class='weui-pull-to-refresh__preloader'></div>
                    <div class="down">下拉刷新</div>
                    <div class="up">释放刷新</div>
                    <div class="refresh">正在刷新</div>
                </div>


                <!-- 同城，全网 -->
                <div class="list-page area-page" v-cloak v-show="nowPage=='area'">
                    <ul>
                        <li class="list-item" v-cloak v-for="(item,index) in areaDataList.list" :key="index" @click="gotoDongtaiDetail(item)">
                            <div class="item-head">
                                <div style="position: relative;">
                                    <div class="item-headWrap" @click.stop="gotoHomePage(item)">
                                        <img :src="GlobalHost+item.head_pic" @error="defaultImg">
                                        <!-- <img v-cloak v-else src="__STATIC__/images/icon/tx.png"> -->
                                    </div>
                                    <span class="videoStatus" v-cloak v-show="item.auth_video_status==1" @click.stop="openVideoScreen(item)"></span>
                                    <!-- 测试用 -->
                                    <!-- <span class="videoStatus" @click.stop="openVideoScreen(item)"></span> -->
                                </div>

                                <div class="item-head-text">
                                    <div>
                                        <span class="listName">{{item.nickname}}</span>
                                        <span class="sexAge" :class="{female:item.sex=='1',male:item.sex=='0'}">
                                            <i class="sex"></i>
                                            <span class="age">{{item.age}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="item-content">
                                <p>{{item.content}}</p>
                                <!-- <img v-for="img in item.image" src="__STATIC__/images/icon/tx.png"> -->
                            </div>
                            <div class="item-comment">
                                <span class="addTime">{{item.add_time | stampToStr}}</span>
                                <div class="person" v-cloak v-if="item.viewer_count>0">
                                    <img src="__STATIC__/images/icon/kekan.png">
                                    <span>{{item.viewer_count}}</span>
                                </div>
                                <div>
                                    <img src="__STATIC__/images/icon/price.png">
                                    <span class="item-comment-count" v-cloak v-if="item.comment_count>0">{{item.comment_count}}</span>
                                </div>
                                <div>
                                    <div class="flowerWrap" @click="sendFlower">
                                        <img src="__STATIC__/images/icon/花1.png">
                                        <img style="display: none;" src="__STATIC__/images/icon/花2.png">
                                    </div>
                                    <span class="flowerNum" v-cloak v-if="item.flower_num>0">{{item.flower_num}}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 关注 -->
                <div class="list-page attended-page" v-cloak v-show="nowPage=='attended'">
                    <ul>
                        <li class="list-item" v-cloak v-for="(item,index) in attendedDataList.list" :key="index" @click="gotoDongtaiDetail(item)">
                            <div class="item-head">
                                <div style="position: relative;">
                                    <div class="item-headWrap" @click.stop="gotoHomePage(item)">
                                        <img :src="GlobalHost+item.head_pic" @error="defaultImg">
                                        <!-- <img v-cloak v-else src="__STATIC__/images/icon/tx.png"> -->
                                    </div>
                                    <span class="videoStatus" v-cloak v-show="item.auth_video_status==1" @click.stop="openVideoScreen(item)"></span>
                                    <!-- 测试用 -->
                                    <!-- <span class="videoStatus" @click.stop="openVideoScreen(item)"></span> -->
                                </div>

                                <div class="item-head-text">
                                    <div>
                                        <span class="listName">{{item.nickname}}</span>
                                        <span class="sexAge" :class="{female:item.sex=='1',male:item.sex=='0'}">
                                            <i class="sex"></i>
                                            <span class="age">{{item.age}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="item-content">
                                <p>{{item.content}}</p>
                                <!-- <img v-for="img in item.image" src="__STATIC__/images/icon/tx.png"> -->
                            </div>
                            <div class="item-comment">
                                <span class="addTime">{{item.add_time | stampToStr}}</span>
                                <div class="person" v-cloak v-if="item.viewer_count>0">
                                    <img src="__STATIC__/images/icon/kekan.png">
                                    <span>{{item.viewer_count}}</span>
                                </div>
                                <div>
                                    <img src="__STATIC__/images/icon/price.png">
                                    <span class="item-comment-count" v-cloak v-if="item.comment_count>0">{{item.comment_count}}</span>
                                </div>
                                <div>
                                    <div class="flowerWrap" @click="sendFlower">
                                        <img src="__STATIC__/images/icon/花1.png">
                                        <img style="display: none;" src="__STATIC__/images/icon/花2.png">
                                    </div>
                                    <span class="flowerNum" v-cloak v-if="item.flower_num>0">{{item.flower_num}}</span>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="noComments" style="display: none;">
                        <img src="__STATIC__/images/icon/暂无要找内容.png">
                        <p>暂无任何内容</p>
                    </div>
                </div>
                <!-- 叽喳 -->
                <div class="shortVideo-page" v-cloak v-show="nowPage=='video'">
                    <ul>
                        <li @click="videoFullScreen">
                            <div class="mVideo">
                                <!-- <img src=""> -->
                                <video style="width: 100%;height: 100%;" src="http://www.w3school.com.cn/example/html5/mov_bbb.mp4" preload="auto"></video>
                            </div>


                            <div>
                                <div>
                                    <span class="name">沫沫</span>
                                    <span class="sexAge male">
                                        <i class="sex"></i>
                                        <span class="age">23</span>
                                    </span>
                                </div>

                                <p class="video-text">
                                    你为什么这么可爱？
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="mask" v-cloak v-if="isReleasing"></div>

        </div>

        <!-- 模糊之外 -->

        <div class="release" :class="{actived:isReleasing}" @click="toggleReleasing"></div>

        <div class="release-start" v-cloak v-show="isReleasing">
            <h5>发布动态</h5>
            <div class="release-group">
                <div class="release-btn" @click="openEdit(1)">
                    <img src="__STATIC__/images/icon/文字@2x.png">
                    <p>文字</p>
                </div>
                <div class="release-btn" @click="openEdit(2)">
                    <img src="__STATIC__/images/icon/选照片@2x.png">
                    <p>选照片</p>
                </div>
                <div class="release-btn" @click="openEdit(2)">
                    <img src="__STATIC__/images/icon/拍照@2x.png">
                    <p>拍照</p>
                </div>
                <div class="release-btn" @click="openEdit(3)">
                    <img src="__STATIC__/images/icon/小视频@2x.png">
                    <p>小视频</p>
                </div>
            </div>

            <span class="triangle"></span>
        </div>

        <!-- 小视频全屏 -->
        <div class="fullScreen" style="display: none">
            <div class="videoHeader">
                <div class="closeFullScreen" @click="closeFullScreen"></div>
                <div class="videoOperate"></div>
                <div class="img-box">
                    <img src="__STATIC__/images/icon/tx.png">
                </div>
            </div>

            <div class="fullScreenScroll">
                <div class="fullScreenWrap">
                    <span class="progressBar"></span>
                    <video id="video1" width="100%" height="100%" src="" autoplay loop></video>
                    <div class="videoFooter">
                        <div class="videoCommentBtn"></div>
                        <span class="littleTri"></span>
                    </div>
                </div>
                <!-- 小视频评论 -->
                <div class="" style="height: 300px;background-color: red;;">

                </div>

                <!-- 小视频评论input -->
                <div class="videoInput">
                    <input type="text">
                    <span class="sendComment">发送</span>
                </div>
            </div>
        </div>

    </div>

    <!-- -------------------------------------- -->

    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="__STATIC__/js/vue.js"></script>
    <!-- jquery-weui-js -->
    <script src="__STATIC__/js/js-plugins/jquery-weui-build/jquery-weui.min.js"></script>
    <script src="__STATIC__/js/js-plugins/jquery-weui-build/city-picker.min.js"></script>
    <!-- 页面-js -->
    <script src="__STATIC__/js/Dongtai.js"></script>
</body>

</html>