<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>好友</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/base.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/wode-common.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <script type="text/javascript">
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 375 * 100 + 'px';
    </script>
</head>

<body class="friends-page">
    <header>
        <a href="javascript:void(0)" class="back"></a>
        <a href="javascript:void(0)" class="searchFriend">添加好友</a>
        <div class="title">好友</div>
    </header>

    <div class="friends-content">
        <ul class="friends-tabcut">
            <li class="actived">
                好友
            </li>
            <li>
                关注
            </li>
            <li>
                粉丝
            </li>
        </ul>

        <div class="friends-tab">
            <div class="friends-list">
                <ul>
                    <li>

                    </li>
                </ul>

                <div class="noFriends">
                    <img src="__STATIC__/images/icon/暂无要找内容.png" alt="">
                    <p>你现在没有任何好友</p>
                    <p>快去认识新朋友</p>
                </div>
            </div>

            <div class="recommends">
                <p class="recommends-title">新人推荐</p>
                <ul>
                    <li class="comments-item">
                        <div class="comments-avatar">
                            <div class="comments-avatar-wrap">
                                <img src="__STATIC__/images/icon/tx.png" alt="">
                            </div>
                        </div>

                        <div class="recommends-content">
                            <div>
                                <span class="listName">浪漫王子</span>
                                <span class="sexAge male">
                                    <i class="sex"></i>
                                    <span class="age">23</span>
                                </span>
                            </div>
                            <span class="addFriend"></span>
                            <p class="signature">看看电影</p>
                        </div>
                    </li>
                    <li class="comments-item">
                        <div class="comments-avatar">
                            <div class="comments-avatar-wrap">
                                <img src="__STATIC__/images/icon/tx.png" alt="">
                            </div>
                        </div>

                        <div class="recommends-content">
                            <div>
                                <span class="listName">浪漫王子</span>
                                <span class="sexAge male">
                                    <i class="sex"></i>
                                    <span class="age">23</span>
                                </span>
                            </div>
                            <span class="addFriend"></span>
                            <p class="signature">看看电影</p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="attention-tab" style="display: none;">
            <div class="friends-list">
                <ul>
                    <li class="comments-item">
                        <div class="comments-avatar">
                            <div class="comments-avatar-wrap">
                                <img src="__STATIC__/images/icon/tx.png" alt="">
                            </div>
                            <span></span>
                        </div>

                        <div class="comments-text">
                            <div>
                                <span class="listName">浪漫王子</span>
                                <span class="sexAge male">
                                    <i class="sex"></i>
                                    <span class="age">23</span>
                                </span>
                            </div>
                            <span class="attentionOperate"></span>
                            <p class="signature">我最帅</p>
                        </div>
                    </li>
                </ul>

                <div class="noFriends" style="display: none;">
                    <img src="__STATIC__/images/icon/暂无要找内容.png" alt="">
                    <p>你现在没有关注任何人</p>
                </div>
            </div>

            <div class="recommends">
                <p class="recommends-title">新人推荐</p>
                <ul>
                    <li class="comments-item">
                        <div class="comments-avatar">
                            <div class="comments-avatar-wrap">
                                <img src="__STATIC__/images/icon/tx.png" alt="">
                            </div>
                        </div>

                        <div class="recommends-content">
                            <div>
                                <span class="listName">浪漫王子</span>
                                <span class="sexAge male">
                                    <i class="sex"></i>
                                    <span class="age">23</span>
                                </span>
                            </div>
                            <span class="addFriend"></span>
                            <p class="signature">看看电影</p>
                        </div>
                    </li>
                    <li class="comments-item">
                        <div class="comments-avatar">
                            <div class="comments-avatar-wrap">
                                <img src="__STATIC__/images/icon/tx.png" alt="">
                            </div>
                        </div>

                        <div class="recommends-content">
                            <div>
                                <span class="listName">浪漫王子</span>
                                <span class="sexAge male">
                                    <i class="sex"></i>
                                    <span class="age">23</span>
                                </span>
                            </div>
                            <span class="addFriend"></span>
                            <p class="signature">看看电影</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fans-tab" style="display: none;">
            <ul>
                <li class="comments-item">
                    <div class="comments-avatar">
                        <div class="comments-avatar-wrap">
                            <img src="__STATIC__/images/icon/tx.png" alt="">
                        </div>
                    </div>

                    <div class="comments-text">
                        <div>
                            <span class="listName">浪漫王子</span>
                            <span class="sexAge male">
                                <i class="sex"></i>
                                <span class="age">23</span>
                            </span>
                        </div>
                        <span class="attentionOperate"></span>
                        <p class="signature">我最帅</p>
                    </div>
                </li>
                <li class="comments-item">
                    <div class="comments-avatar">
                        <div class="comments-avatar-wrap">
                            <img src="__STATIC__/images/icon/tx.png" alt="">
                        </div>
                    </div>

                    <div class="comments-text">
                        <div>
                            <span class="listName">浪漫王子</span>
                            <span class="sexAge male">
                                <i class="sex"></i>
                                <span class="age">23</span>
                            </span>
                        </div>
                        <span class="addFriend"></span>
                        <p class="signature">我最帅</p>
                    </div>
                </li>
            </ul>

            <div class="noFriends" style="display: none;">
                <img src="__STATIC__/images/icon/暂无要找内容.png" alt="">
                <p>还没有人关注你，多关注别人积攒下人气</p>
            </div>
        </div>

    </div>

</body>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(function() {})
</script>

</html>