<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <script>
        alert(1)
        var userinfoStr = {$userinfo};
        console.log(userinfoStr)
        // var userinfoStr=
        alert(userinfoStr)

        localStorage["mUserInfo"] = JSON.stringify(userinfoStr);
        localStorage.setItem("mUserInfo", JSON.stringify(userinfoStr));

        // window.onbeforeunload = function () {
        //     if (sessionStorage["mUserInfo"]) {
        //         sessionStorage["mUserInfo"] = null;
        //     }
        // }
    </script>
</body>

</html>