<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    {$userinfo}
    <script>
        var userinfo = "{$userinfo}";

        // sessionStorage.setItem('mUserInfo', JSON.stringify(userinfo))
        sessionStorage['mUserInfo'] = JSON.stringify(userinfo);

        window.onbeforeunload = function () {
            // if (sessionStorage.getItem('mUserInfo')) {
            //     sessionStorage.setItem('mUserInfo', null)
            // }
            if (sessionStorage['mUserInfo']) {
                sessionStorage['mUserInfo'] = null;
            }
        }
    </script>
</body>

</html>