<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>发布邀约</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- jquery-weui-css -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/weui.css">
    <link rel="stylesheet" href="__STATIC__/js/js-plugins/jquery-weui-build/jquery-weui.min.css">
    <!-- my-css -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/base.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/common.css">
    <script>
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 375 * 100 + 'px';
    </script>
</head>

<body class="releInvite-page">
    <header>
        <span class="fl cancle">取消</span>
        <span class="fr publish">发布</span>
    </header>
    <div class="main-content invitation">
        <form action="">
            <div class="theme items">
                <ul>
                    <li class="clearfix title">
                        <span class="fl">主题</span>
                        <span class="fr inviteTheme"></span>
                    </li>
                    <li class="clearfix">
                        <span class="fl">地点</span>
                        <span class="fr">
                            <!-- <input type="text" id='city-picker' value="辽宁省 沈阳市" /> -->
                            <input type="text" id='city-picker' />
                        </span>
                    </li>
                    <li class="detailPlace">
                        <div class="detailPlace-title">
                            详细地点
                        </div>
                        <div class="detailPlace-inputWrap">
                            <input type="text" placeholder="填写详细地点..." />
                        </div>
                    </li>
                    <li class="clearfix">
                        <span class="fl">时间</span>
                        <span class="fr">
                            <input type="text" id='datetime-picker' />
                        </span>
                    </li>
                </ul>
                <ul>
                    <li class="detailSelect clearfix otherSide">
                        <span class="fl">对象</span>
                        <span class="fr choose">
                            <span class="active">男</span>
                            <span>女</span>
                            <span>不限</span>
                        </span>
                    </li>
                    <li class="detailSelect clearfix payMoney">
                        <span class="fl">买单</span>
                        <span class="fr choose">
                            <span>AA</span>
                            <span class="active">当然你买</span>
                        </span>
                    </li>
                    <li class="clearfix catch">
                        <span class="fl">
                            <input type="checkbox" checked="checked" id="myCheck">
                            <label for="myCheck"></label>
                            <label for="myCheck">需要接送我</label>
                        </span>
                        <span class="fr">
                            <input type="checkbox" checked="checked" id="myCheck1">
                            <label for="myCheck1"></label>
                            <label for="myCheck1">对方可携带三两好友</label>
                        </span>
                    </li>
                </ul>
                <ul>
                    <li class="clearfix" id="descriptionWrap-li">
                        <div class="descriptionWrap">
                            <textarea id="descripTextarea" placeholder="空泛的说明，是没有人报名的..."></textarea>

                            <span class="textCountWrap">
                                <span class="textCount">0</span>/200</span>
                        </div>

                        <!-- <div>
                            <div class="add">
                                <a href="javascript:;">
                                    <input type="file" readonly="readonly"> 添加
                                </a>
                            </div>
                            <div class="speak">
                                <a href="javascript:;">
                                    按住说话
                                </a>
                            </div>
                        </div> -->

                    </li>
                </ul>
            </div>
        </form>
    </div>

    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- jquery-weui-js -->
    <script src="__STATIC__/js/js-plugins/jquery-weui-build/jquery-weui.min.js"></script>
    <script src="__STATIC__/js/js-plugins/jquery-weui-build/city-picker.min.js"></script>
    <!-- my-js -->
    <script type="text/javascript">
        var GlobalHost = "http://meiliyue.caapa.org";
        var ReleInvite = {
            inviteList: [{
                title: "旅行",
                type: 1
            }, {
                title: "吃饭",
                type: 2
            }, {
                title: "电影",
                type: 3
            }, {
                title: "唱歌",
                type: 4
            }, {
                title: "运动",
                type: 5
            }, {
                title: "其他",
                type: 6
            }],

            _type: "",
            _user_id: "",
            _user_sex: "",

            _theme: "",


            //获取页面基本参数
            getPageData: function () {
                //user_id
                ReleInvite._user_id = 1;
                //sex
                ReleInvite._user_sex = 2;
                //type
                var ulrStr = window.location.href;
                ulrStr = "http://meiliyue.caapa.org/index.php/mobile/invite/add/type/3.html" //测试用
                var strTemp = ulrStr.split("/add/type/")[1];
                ReleInvite._type = Number(strTemp.substr(0, strTemp.length - 5));

                //更新dom
                ReleInvite.updateDom();
            },
            updateDom:function(){
                //主题
                ReleInvite.inviteList.forEach(function (obj) {
                    if (obj.type == ReleInvite._type) {
                        ReleInvite._theme = obj.title
                    }
                });
                $(".inviteTheme").html(ReleInvite._theme);
                //根据sex 修改"当然你买"

                //
            },
            //改变 地址 选择器默认值
            setAreaDefault: function () {

            },
            //限制字数
            bindLimitCount: function () {
                let textarea = document.getElementById('descripTextarea')
                textarea.onchange = function () {
                    limitCount(this)
                }
                textarea.onkeydown = function () {
                    limitCount(this)
                }
                textarea.onkeyup = function () {
                    limitCount(this)
                }

                function limitCount(el) {
                    let vInnerHtml = el.value
                    el.value = el.value.substring(0, 200) //限制字数
                    let count = vInnerHtml.length
                    document.getElementsByClassName('textCount')[0].innerHTML = count
                    if (count >= 200) {
                        alert("最多输入200个字")
                    }
                }
            },
            //发布邀约
            publishInvit: function () {
                //省市code
                let cityCodes = $("#city-picker").attr("data-codes")
                let provinceCode, cityCode
                if (cityCodes) {
                    provinceCode = cityCodes.split(",")[0]
                    cityCode = cityCodes.split(",")[1]
                }

                if (!cityCodes || $("#datetime-picker").val() == "") {
                    // alter("地点和时间请填写完整")
                    return
                }

                // let posiArr=ReleInvite.getLocalPosition();

                var postData = {
                    user_id: ReleInvite._user_id,
                    user_sex: ReleInvite._user_sex,
                    type: ReleInvite._type,
                    title: ReleInvite._theme,

                    description: $("#descripTextarea").val().trim(),
                    time: $("#datetime-picker").val(),
                    province: provinceCode,
                    city: cityCode,
                    place: $(".detailPlace-inputWrap>input").val().trim(),
                    object: $(".otherSide .choose .active").text(),
                    pay: $(".payMoney .choose .active").text(),
                    is_jiesong: $("#myCheck").is(':checked') ? "1" : "0",
                    width_confidante: $("#myCheck1").is(':checked') ? "1" : "0",

                    // longitude: posiArr[0], 
                    // latitude: posiArr[1], 
                    longitude: "", 
                    latitude: "", 
                }

                console.log(postData)

                // return //测试用

                $.ajax({
                    type: "POST",
                    url: GlobalHost+"/index.php/Api/Dynamics/add",
                    data: postData,
                    dataType: "json",
                    success: function (result) {
                        console.log(result)

                        if (result.msg == "操作成功") {
                            //关闭 返回
                            window.history.back(-1)
                        }

                    }
                })
            },
            //获取当前地理位置
            // getLocalPosition:function(){//返回一个数组， 经 纬度
            //     let position=[null,null];
            //     if(navigator.geolocation){
            //         navigator.geolocation.getCurrentPosition( // 该函数有如下三个参数
            //             function(pos){ // 如果成果则执行该回调函数
            //                 console.log(
            //                     '  经度：' + pos.coords.latitude +
            //                     '  纬度：' + pos.coords.longitude +
            //                     '  高度：' + pos.coords.altitude +
            //                     '  精确度(经纬)：' + pos.coords.accuracy +
            //                     '  精确度(高度)：' + pos.coords.altitudeAccuracy +
            //                     '  速度：' + pos.coords.speed
            //                 );

            //                 position[0]=pos.coords.latitude;
            //                 position[1]=pos.coords.longitude;
            //             }, function(err){ // 如果失败则执行该回调函数
            //                 console.log(err.message);
            //             }, { // 附带参数
            //                 // enableHighAccuracy: false, // 提高精度(耗费资源)
            //                 // timeout: 3000, // 超过timeout则调用失败的回调函数
            //                 // maximumAge: 1000 // 获取到的地理信息的有效期，超过有效期则重新获取一次位置信息
            //             }
            //         );
            //     }

            //     return position;
            // },
            eventsBind: function () {
                //取消发布
                $(".cancle").click(function () {
                    window.history.back(-1)
                })
                //切换男女,切换买单
                $(".detailSelect .choose>span").click(function () {
                    $(this).addClass('active').siblings().removeClass('active')
                })
                //让textarea限制字数
                ReleInvite.bindLimitCount()
                //发布邀约
                $(".publish").click(function () {
                    ReleInvite.publishInvit()
                })
            },
            init: function () {
                ReleInvite.getPageData()

                //初始化 地点 时间 选择器
                $("#city-picker").cityPicker({
                    title: "请选择地区",
                    showDistrict: false
                });
                $("#datetime-picker").datetimePicker();

                //
                ReleInvite.eventsBind()
            }
        };

        $(function () {
            ReleInvite.init();
        });
    </script>
</body>

</html>