<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>邀约详情</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/base.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/common.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
</head>
<body>
    <header>
        <span class="fl cancle" onclick="javascript:history.back(-1);">取消</span>
        <span class="fr publish">发布</span>
    </header>
    <div class="main-content invitation">
      <form action="">
        <div class="theme items">
          <ul>
            <li class="clearfix title"><span class="fl">主题</span><span class="fr">{$inviteTypeEnum[$type]}</span></li>
            <li class="clearfix">
              <span class="fl">地点</span>
              <span class="fr"><input type="text" readonly="readonly" placeholder="选择时间"></span>
            </li>
            <li class="clearfix">
              <span class="fl">地点</span>
              <span class="fr"><input type="text" readonly="readonly" placeholder="选择时间"></span>
            </li>
          </ul>
          <ul>
            <li class="clearfix">
              <span class="fl">对象</span>
              <span class="fr choose">
                <span class="active">男</span>
                <span>女</span>
                <span>不限</span>
              </span>
            </li>
            <li class="clearfix">
              <span class="fl">买单</span>
              <span class="fr choose">
                <span>AA</span>
                <span class="active">当然你买</span>
              </span>
            </li>
            <li class="clearfix catch">
              <span class="fl">
                <input type="checkbox" id="myCheck">
                <label for="myCheck"></label>
                需要接送我
              </span>
              <span class="fr">
                <input type="checkbox" id="myCheck1">
                <label for="myCheck1"></label>
                对方可携带三两好友
              </span>
            </li>
          </ul>
          <ul>
            <li class="clearfix">
              <textarea name="" id="" cols="30" rows="10" onkeyup="checkLen(this)" placeholder="空白的说明是没有人报名的"></textarea>
              <div class="add">
                <a href="javascript:;">
                  <input type="file" readonly="readonly">
                  添加
                </a>
              </div>
              <div class="speak">
                <a href="javascript:;">
                  按住说话
                </a>
              </div>
            </li>
          </ul>
        </div>
        <input type="hidden" name="type" value="{$type}">
      </form>
    </div>
    <footer>
        <ul>
            <li><a href="javascript:;">在线</a></li>
            <li><a href="javascript:;">邀约</a></li>
            <li><a href="javascript:;">动态</a></li>
            <li><a href="javascript:;">我的</a></li>
        </ul>
    </footer>
</body>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/common.js"></script>
<script type="text/javascript"> 

</script>
</html>
