<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>我感兴趣</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/base.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/common.css">
</head>

<body class="interested">
    <header>
        <a href="javascript:void(0)" class="back fl"></a>
        <span class="title">邀约详情</span>
        <a href="javascript:void(0)" class="operate fr"></a>
    </header>
    <div class="main-content invitation">
        <div class="items invite-detail">
            <ul>
                <li>
                    <div class="top">
                        <div class="img-box">
                            <img src="__STATIC__/images/icon/tx.png">
                        </div>
                        <div class="details">
                            <div class="person">
                                <span class="name">寻你！</span>
                                <span class="age woman">44</span>
                                <span class="distance fr">
                                    <span class="distanceText">100</span>km</span>
                            </div>
                            <div class="" style="margin-top: 10px;">发布邀约</div>
                        </div>
                    </div>

                </li>
                <!-- 邀约详情 -->
                <li class="detail inviteDetail">
                    <ul class="inviteDetail-list">
                        <li>
                            <span class="bigDot"></span>
                            <span class="title">title</span>
                        </li>
                        <li class="descriptionLi">
                            <span class="smallDot"></span>
                            <span class="description">description</span>
                        </li>
                        <!-- <li class="detailImages">
                            <img src="__STATIC__/images/icon/tx.png">
                        </li> -->
                        <li>
                            <span class="smallDot"></span>
                            <span class="payType">AA</span>
                        </li>
                        <li>
                            <span class="smallDot"></span>
                            <span class="otherSideSex">otherSideSex</span>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="areaTime">
                <li>
                    时间：
                    <span class="detailTime">time</span>
                </li>
                <li>
                    地点：
                    <span class="areaPlace">time</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="_shade"></div>
    <div class="avatarOperating" style="display: none;">
        <ul>
            <li class="">分享到好友</li>
            <li class="">举报</li>
            <li class="home-cancel">取消</li>
        </ul>
    </div>
    <button class="interest">我感兴趣</button>

    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script>
        var GlobalHost = "http://meiliyue.caapa.org";
        var Interested = {
            inviteItem: {},

            //处理ulr参数func,返回obj
            getUrlOptions: function (urlOptionStr) { //urlOptionStr = window.location.search
                var requestObj = {}
                var str = urlOptionStr.substr(1);
                var strs = str.split("&");
                for (var i = 0; i < strs.length; i++) {
                    requestObj[strs[i].split("=")[0]] = decodeURI(strs[i].split("=")[1]) //unescape?
                }
                return requestObj
            },
            //获取一些页面参数
            getPageData: function () {
                //处理url参数
                var urlOptionStr = window.location.search
                console.log(urlOptionStr)
                //urlOptionStr ="?inviteItem={%22user_id%22:%221%22,%22head_pic%22:%22/public/upload/head_pic/20180728/938806dc024e113e09aa3b0321e2b91e.jpg%22,%22auth_video_status%22:%220%22,%22nickname%22:%2215201110059%22,%22sex%22:%221%22,%22age%22:%2212%22,%22title%22:%22%E6%B2%A1%E4%BA%8B%E7%8E%A9%E7%8E%A9%22,%22description%22:%22%E4%BD%A0%E9%82%A3%E9%87%8C%E5%A5%BD%E7%8E%A9%E5%90%97%22,%22time%22:%222018-07-29%22,%22place%22:%22%E5%94%90%E5%9F%8E%E5%B0%8F%E5%8C%BA%22,%22image%22:false,%22distince%22:0}"; //测试用

                if (urlOptionStr.indexOf("?") != -1) {
                    var urlOptionObj = Interested.getUrlOptions(urlOptionStr)

                    var inviteItem = JSON.parse(urlOptionObj.inviteItem)
                    console.log(inviteItem)
                    Interested.inviteItem = inviteItem
                    Interested.updateDom()
                }
            },
            //根据inviteItem更新Dom
            updateDom: function () {
                var item = Interested.inviteItem
                $(".img-box img").attr("src", GlobalHost + item.head_pic)
                $(".person .name").html(item.nickname)
                //sex age
                $(".person .distance .distanceText").html(item.distince)
                $(".inviteDetail .inviteDetail-list li .title").html(item.title)
                $(".inviteDetail .inviteDetail-list li .description").html(item.description)
                //图片
                // if (item.image && item.image !== "") {
                //     //还要改 item.image格式？

                //     var $li = $("<li class='detailImages'></li>")
                //     $li.append($("<img src='__STATIC__/images/icon/tx.png'>"))
                //     $(".descriptionLi").after($li)

                //     //点击img查看大图
                //     $(".detailImages img").click(function () {
                //         //
                //         console.log(2)
                //     })
                // }
                $(".inviteDetail .inviteDetail-list li .payType").html("AA") //没有？
                $(".inviteDetail .inviteDetail-list li .otherSideSex").html("不限男女") //没有？
                $(".areaTime .detailTime").html(item.time)
                $(".areaTime .areaPlace").html(item.place)
            },
            eventsBind: function () {
                //返回
                $("a.back").click(function () {
                    window.history.back(-1)
                })
                //更多操作
                $("a.operate").click(function () {
                    $("._shade").add($('.avatarOperating')).show()
                    // $('.avatarOperating').show().animate({'bottom':'0'},300)
                })
                //更多操作-取消
                $(".avatarOperating .home-cancel").click(function () {
                    $("._shade").add($('.avatarOperating')).hide()
                })
                //我感兴趣
                $(".interest").click(function () {
                    //感兴趣
                })
                //点击头像看他人的个人主页
                $(".interested .img-box").click(function(){
                    let user_id=Interested.inviteItem.originUserId;
                    let toUserId=Interested.inviteItem.user_id;

                    window.location.href = GlobalHost+"/index.php/mobile/user/homePage/user_id/"+user_id+"/toUserId/"+toUserId+".html";
                });
            },
            init: function () {
                //获取传来的邀约item信息
                Interested.getPageData()
                Interested.eventsBind()
            }
        }
        $(function () {
            Interested.init()
        })
    </script>
</body>

</html>