<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>我感兴趣</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- jquery-weui-css -->
    <link rel="stylesheet" href="__STATIC__/css/weui.css">
    <link rel="stylesheet" href="__STATIC__/js/js-plugins/jquery-weui-build/jquery-weui.min.css">
    <!-- 页面-css -->
    <link rel="stylesheet" href="__STATIC__/css/base.css">
    <link rel="stylesheet" href="__STATIC__/css/common.css">
    <script>
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 375 * 100 + 'px';
    </script>
</head>

<body class="interested">
    <header>
        <a href="javascript:void(0)" class="back fl"></a>
        <span class="title">邀约详情</span>
        <a href="javascript:void(0)" class="operate fr"></a>
    </header>
    <div class="main-content invitation">
        <div class="items invite-detail">
            <ul>
                <li>
                    <div class="top">
                        <div class="img-box">
                            <img src="__STATIC__/images/icon/tx.png">
                        </div>
                        <div class="details">
                            <div class="person">
                                <span class="name">寻你！</span>
                                <span class="sexAge">
                                    <i class="sex"></i>
                                    <span class="age">23</span>
                                </span>
                                <!-- <span class="distance fr">
                                    <span class="distanceText">100</span>km
                                </span> -->
                            </div>
                            <div class="" style="margin-top: 10px;">发布邀约</div>
                        </div>
                    </div>

                </li>
                <!-- 邀约详情 -->
                <li class="detail inviteDetail">
                    <ul class="inviteDetail-list">
                        <li>
                            <span class="bigDot"></span>
                            <span class="title">title</span>
                        </li>
                        <li class="descriptionLi">
                            <span class="smallDot"></span>
                            <span class="description">description</span>
                        </li>
                        <!-- <li class="detailImages">
                            <img class="inviImg" data-index=${index} src=${GlobalHost+src}>
                        </li> -->
                        <li>
                            <span class="smallDot"></span>
                            <span class="payType">AA</span>
                        </li>
                        <li>
                            <span class="smallDot"></span>
                            <span class="otherSideSex">otherSideSex</span>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="areaTime">
                <li>
                    时间：
                    <span class="detailTime">time</span>
                </li>
                <li>
                    地点：
                    <span class="areaPlace">time</span>
                </li>
                <li class="clearfix">
                    <span class="fl is_jiesong" style="display: none;">
                        <input type="checkbox" checked="checked" id="myCheck">
                        <label></label>
                        <label>需要接送我</label>
                    </span>
                    <span class="fl with_confidante" style="display: none;">
                        <input type="checkbox" checked="checked" id="myCheck1">
                        <label></label>
                        <label>对方可携带三两好友</label>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="_shade"></div>
    <div class="avatarOperating" style="display: none;">
        <ul>
            <li class="">分享到好友</li>
            <li class="">举报</li>
            <li class="home-cancel">取消</li>
        </ul>
    </div>
    <button class="interest" style="display: none;">我感兴趣</button>

    <script src="__STATIC__/js/jquery-3.1.1.min.js"></script>
    <!-- jquery-weui-js -->
    <script src="__STATIC__/js/js-plugins/jquery-weui-build/jquery-weui.min.js"></script>
    <script src="__STATIC__/js/js-plugins/jquery-weui-build/swiper.min.js"></script>
    <script>
        var GlobalHost = "http://meiliyue.caapa.org";
        var Interested = {
            originUserId: "",
            toUserId: "",
            detailId: "",


            //处理ulr参数func,返回obj
            getUrlOptions: function (urlOptionStr) { //urlOptionStr = window.location.search
                var requestObj = {}
                var str = urlOptionStr.substr(1);
                var strs = str.split("&");
                for (var i = 0; i < strs.length; i++) {
                    requestObj[strs[i].split("=")[0]] = decodeURI(strs[i].split("=")[1]) //unescape?
                }
                return requestObj
            },
            //获取一些页面参数
            getPageData: function () {
                //处理url参数
                var urlOptionStr = window.location.search
                // urlOptionStr = "?options={%22originUserId%22:2,%22toUserId%22:1,%22detailId%22:15}"; //测试用
                console.log(urlOptionStr)

                if (urlOptionStr.indexOf("?") != -1) {
                    var urlOptionObj = Interested.getUrlOptions(urlOptionStr)

                    var options = JSON.parse(urlOptionObj.options)
                    console.log(options)

                    //
                    Interested.originUserId = options.originUserId;
                    Interested.toUserId = options.toUserId;
                    Interested.detailId = options.detailId;

                    //ajax邀约详情信息
                    Interested.getInviteData();
                }
            },
            getInviteData: function () {
                $.ajax({
                    type: "POST",
                    url: GlobalHost + "/index.php/Api/invite/detail",
                    data: {
                        id: Interested.detailId
                    },
                    dataType: "json",
                    success: function (result) {
                        console.log(result)

                        //更新dom
                        if (result.data && result.data !== "") {
                            Interested.updateDom(result.data);
                        }
                    }
                });
            },
            //根据inviteItem更新Dom
            updateDom: function (data) {
                console.log(data)
                $(".img-box img").attr("src", GlobalHost + data.head_pic)
                $(".person .name").html(data.nickname)
                if (data.sex == 1) {
                    $(".sexAge").addClass("male");
                } else {
                    $(".sexAge").addClass("female");
                }
                $(".sexAge .age").html(data.age);
                // $(".person .distance .distanceText").html(data.distince)
                $(".inviteDetail .inviteDetail-list li .title").html(data.title)
                $(".inviteDetail .inviteDetail-list li .description").html(data.description)
                //图片
                if (data.image && data.image !== "" && data.image.length !== 0) {
                    let $li = $("<li class='detailImages'></li>");
                    data.image.forEach(function (src, index) {
                        $li.append($(
                            `
                            <img class="inviImg" data-index=${index} src=${GlobalHost+src}>
                            `
                        ));
                    });

                    $(".descriptionLi").after($li)
                }
                $(".inviteDetail .inviteDetail-list li .payType").html(data.pay);
                $(".inviteDetail .inviteDetail-list li .otherSideSex").html(data.object);
                $(".areaTime .detailTime").html(data.time)
                $(".areaTime .areaPlace").html(data.place)
                //接送，携带好友
                if (data.is_jiesong === 1) {
                    $(".is_jiesong").show();
                }
                if (data.with_confidante === 1) {
                    $(".with_confidante").show();
                }

                //如果看自己的邀约详情，不显示“我感兴趣”
                if (Interested.originUserId !== Interested.toUserId) {
                    $(".interest").show();
                }
            },
            showFullPic: function (el) {
                let index = $(el).attr("data-index");
                let srcArr = [];
                $(".detailImages img.inviImg").each(function () {
                    // srcArr.unshift($(this).attr("src"));
                    srcArr.push($(this).attr("src"));
                });
                console.log(srcArr)
                let swiper = $.photoBrowser({
                    items: srcArr
                });
                // swiper.open(index);
                swiper.open();
            },
            eventsBind: function () {
                //返回
                $("a.back").click(function () {
                    window.history.back(-1)
                })
                //更多操作
                $("a.operate").click(function () {
                    $("._shade").add($('.avatarOperating')).show()
                    // $('.avatarOperating').show().animate({'bottom':'0'},300)
                })
                //更多操作-取消
                $(".avatarOperating .home-cancel").click(function () {
                    $("._shade").add($('.avatarOperating')).hide()
                })
                //我感兴趣
                $(".interest").click(function () {
                    //感兴趣

                })
                //点击头像看他人的个人主页
                $(".interested .img-box").click(function () {
                    let url = "";
                    if (Interested.originUserId !== Interested.toUserId) {
                        url = GlobalHost + "/index.php/mobile/user/homePage/user_id/" + Interested.originUserId +
                            "/toUserId/" + Interested.toUserId + ".html";
                    } else {
                        url = GlobalHost + "/index.php/mobile/user/myHomePage.html";
                    }

                    window.location.href =url;
                });
                //点击邀约详情的图片 查看大图
                $(".inviteDetail-list").delegate("img.inviImg", "click", function () {
                    console.log($(this).attr("src"))
                    Interested.showFullPic(this);
                });
            },
            init: function () {
                //获取传来的邀约item信息
                Interested.getPageData()

                Interested.eventsBind()
            }
        }
        $(function () {
            Interested.init()
        })
    </script>
</body>

</html>