<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>邀约</title>
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
</head>
<body>
    <header>
        <span class="title">邀约</span>
    </header>
    <div class="main-content invitation">
        <div class="view">
            <a href="javascript:;"><img src="../images/pic/pic2.png"></a>
        </div>
        <div class="classify">
            <div class="options clearfix">
                <div class="all fl">
                    <span>全部</span>
                </div>
                <ul class="fl">
                    <li><a href="javascript:;">旅行</a></li>
                    <li><a href="javascript:;">吃饭</a></li>
                    <li><a href="javascript:;">电影</a></li>
                    <li><a href="javascript:;">唱歌</a></li>
                    <li><a href="javascript:;">运动</a></li>
                    <li><a href="javascript:;">其他</a></li>
                </ul>
            </div>
            <div class="address clearfix">
                <span class="fl">北京</span>
                <span class="select fr">筛选</span>
            </div>
        </div>
        <div class="items">
            <ul>
                <li>
                    <span class="active">顶</span>
                    <div class="top">
                        <div class="img-box"><img src="../images/icon/tx.png"></div>
                        <div class="details">
                            <div class="person">
                                <span class="name">寻你！</span>
                                <span class="age">44</span>
                                <span class="img"><img src="../images/icon/camera.png"></span>
                                <span class="job">职业经理人</span>
                            </div>
                            <div class="distance">28.76km</div>
                        </div>
                    </div>
                    <div class="bottom"></div>
                </li>
                <li>
                    <div class="top">
                        <div class="img-box"><img src="../images/icon/tx.png"></div>
                        <div class="details">
                            <div class="person">
                                <span class="name">寻你！</span>
                                <span class="age">44</span>
                                <span class="img"><img src="../images/icon/camera.png"></span>
                                <span class="job">职业经理人</span>
                            </div>
                            <div class="distance">28.76km</div>
                        </div>
                    </div>
                    <div class="bottom"></div>
                </li>
                <li>
                    <div class="top">
                        <div class="img-box"><img src="../images/icon/tx.png"></div>
                        <div class="details">
                            <div class="person">
                                <span class="name">寻你！</span>
                                <span class="age">44</span>
                                <span class="img"><img src="../images/icon/camera.png"></span>
                                <span class="job">职业经理人</span>
                            </div>
                            <div class="distance">28.76km</div>
                        </div>
                    </div>
                    <div class="bottom"></div>
                </li>
            </ul>
        </div>
        <div class="plus"></div>
        <div class="_shade"></div>
        <div class="mask">
            <div class="title">发起邀约</div>
            <div class="box-top">
                <ul>
                    <li><a href="javascript:;"><span></span>旅行</a></li>
                    <li><a href="javascript:;"><span></span>吃饭</a></li>
                    <li><a href="javascript:;"><span></span>电影</a></li>
                    <li><a href="javascript:;"><span></span>唱歌</a></li>
                </ul>
            </div>
            <div class="box-btm">
                <ul>
                    <li><a href="javascript:;"><span></span>运动</a></li>
                    <li><a href="javascript:;"><span></span>其他</a></li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <ul>
            <li><a href="javascript:;">在线</a></li>
            <li><a href="javascript:;">邀约</a></li>
            <li><a href="javascript:;">动态</a></li>
            <li><a href="javascript:;">我的</a></li>
        </ul>
    </footer>
</body>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
</html>
