<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>一对一视频</title>
  <link rel="stylesheet" type="text/css" href="../css/base.css">
  <link rel="stylesheet" type="text/css" href="../css/common.css">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
</head>
<body>
  <header>
    <a href="javascript:;" class="back fl"></a>
    <span class="title">一对一视频</span>
    <a href="javascript:;" class="fr"></a>
  </header>
  <div class="main-content invitation">
    <div class="view">
      <!-- <img src="" alt=""> -->
      <a href="javascript::" class="open">开通领魅力</a>
    </div>
    <div class="items view-list">
      <ul>
        <li>
          <div class="top">
              <div class="img-box"><img src="../images/icon/tx.png"></div>
              <div class="details">
                  <div class="person">
                      <span class="name">寻你！</span>
                      <span class="gender">性别</span>
                  </div>
                  <div class="distance"><span class="time">刚刚</span> · 28.76km</div>
                  <div class="label">
                    <span>当知心姐姐</span>
                    <span>听你讲故事</span>
                  </div>
              </div>
          </div>
          <div class="bottom"></div>
        </li>
        <li>
          <div class="top">
              <div class="img-box"><img src="../images/icon/tx.png"></div>
              <div class="details">
                  <div class="person">
                      <span class="name">寻你！</span>
                      <span class="gender">性别</span>
                  </div>
                  <div class="distance"><span class="time">刚刚</span> · 28.76km</div>
                  <div class="label">
                    <span>当知心姐姐</span>
                    <span>听你讲故事</span>
                  </div>
              </div>
          </div>
          <div class="bottom"></div>
        </li>
      </ul>
    </div>
  </div>
</body>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
</html>
