<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>添加好友</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/base.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/wode-common.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <script type="text/javascript">
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 375 * 100 + 'px';
    </script>
</head>

<body class="addfriends-page">
    <header>
        <a href="javascript:void(0)" class="back"></a>
        <div class="title">添加好友</div>
    </header>

    <div class="addfriends-content">

        <div class="addFriendBtn">通过ID搜索好友</div>

        <div class="recommends">
            <p class="recommends-title">推荐</p>
            <ul>
                <li class="comments-item">
                    <div class="comments-avatar">
                        <div class="comments-avatar-wrap">
                            <img src="__STATIC__/images/icon/tx.png" alt="">
                        </div>
                    </div>

                    <div class="recommends-content">
                        <div>
                            <span class="listName">浪漫王子</span>
                            <span class="sexAge male">
                                <i class="sex"></i>
                                <span class="age">23</span>
                            </span>
                        </div>
                        <span class="addFriend"></span>
                        <p class="signature">看看电影</p>
                    </div>
                </li>
                <li class="comments-item">
                    <div class="comments-avatar">
                        <div class="comments-avatar-wrap">
                            <img src="__STATIC__/images/icon/tx.png" alt="">
                        </div>
                    </div>

                    <div class="recommends-content">
                        <div>
                            <span class="listName">浪漫王子</span>
                            <span class="sexAge male">
                                <i class="sex"></i>
                                <span class="age">23</span>
                            </span>
                        </div>
                        <span class="addFriend"></span>
                        <p class="signature">看看电影</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</body>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

</html>