<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>评论</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/base.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/wode-common.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <script type="text/javascript">
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 375 * 100 + 'px';
    </script>
</head>

<body class="comments-page">
    <header>
        <a href="javascript:void(0)" class="back"></a>
        <div class="title">评论</div>
    </header>

    <div class="comments-content">

        <ul>
            <li class="comments-item">
                <div class="comments-avatar">
                    <div class="comments-avatar-wrap">
                        <img src="__STATIC__/images/icon/tx.png" alt="">
                    </div>
                    <span></span>
                </div>

                <div class="comments-text">
                    <div>
                        <span class="listName">浪漫王子</span>
                        <span class="sexAge male">
                            <i class="sex"></i>
                            <span class="age">23</span>
                        </span>
                    </div>
                    <span class="">刚刚</span>
                    <p class="">关注</p>
                </div>

                <div class="comments-pic">
                    <img src="__STATIC__/images/pic/pic2.png" alt="">
                </div>
            </li>
            <li class="comments-item">
                <div class="comments-avatar">
                    <div class="comments-avatar-wrap">
                        <img src="__STATIC__/images/icon/tx.png" alt="">
                    </div>
                    <span></span>
                </div>

                <div class="comments-text">
                    <div>
                        <span class="listName">浪漫王子</span>
                        <span class="sexAge male">
                            <i class="sex"></i>
                            <span class="age">23</span>
                        </span>
                    </div>
                    <span class="">刚刚</span>
                    <p class="">关注</p>
                </div>

                <div class="comments-pic">
                    <img src="__STATIC__/images/pic/pic2.png" alt="">
                </div>
            </li>
        </ul>

        
        <div class="noComments" style="display: none;">
            <img src="__STATIC__/images/icon/暂无要找内容.png" alt="">
            <p>尚未收到任何评论</p>
        </div>
    </div>

</body>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(function() {
    })
</script>

</html>