<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>好友</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- jquery-weui-css -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/weui.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/js/js-plugins/jquery-weui-build/jquery-weui.min.css">
    <!-- 页面-js -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/base.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/wode-common.css">
    <script type="text/javascript">
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 375 * 100 + 'px';
    </script>
</head>

<body class="friends-page">
    <header>
        <a href="javascript:void(0)" class="back"></a>
        <a href="javascript:void(0)" class="searchFriend">添加好友</a>
        <div class="title">好友</div>
    </header>

    <div class="friends-content">
        <ul class="friends-tabcut">
            <li data-tab="friends" class="actived">好友</li>
            <li data-tab="attention">关注</li>
            <li data-tab="fans">粉丝</li>
        </ul>

        <!-- tabs -->
        <!-- 好友 -->
        <div class="tabs friends-tab">
            <div class="friends-list">
                <ul class="friendsUl">
                </ul>

                <div class="no-friends" style="display: none;">
                    <img src="__STATIC__/images/icon/暂无要找内容.png">
                    <p>你现在没有任何好友</p>
                    <p>快去认识新朋友</p>
                </div>
            </div>

            <!-- <div class="recommends">
                <p class="recommends-title">新人推荐</p>
                <ul>
                    <li class="newFriendItem">
                        <div class="friendHeadWrap">
                            <img src="__STATIC__/images/icon/tx.png">
                        </div>

                        <div class="recommends-content">
                            <div>
                                <span class="listName">浪漫王子</span>
                                <span class="sexAge male">
                                    <i class="sex"></i>
                                    <span class="age">23</span>
                                </span>
                            </div>
                            <span class="addFriend"></span>
                            <p class="signature">看看电影</p>
                        </div>
                    </li>
                    <li class="newFriendItem">
                        <div class="friendHeadWrap">
                            <img src="__STATIC__/images/icon/tx.png">
                        </div>

                        <div class="recommends-content">
                            <div>
                                <span class="listName">浪漫王子</span>
                                <span class="sexAge male">
                                    <i class="sex"></i>
                                    <span class="age">23</span>
                                </span>
                            </div>
                            <span class="addFriend"></span>
                            <p class="signature">看看电影</p>
                        </div>
                    </li>
                </ul>
            </div> -->

        </div>
        <!-- 关注 -->
        <div class="tabs attention-tab" style="display: none;">
            <div class="weui-pull-to-refresh__layer">
                <div class='weui-pull-to-refresh__arrow'></div>
                <div class='weui-pull-to-refresh__preloader'></div>
                <div class="down">下拉刷新</div>
                <div class="up">释放刷新</div>
                <div class="refresh">正在刷新</div>
            </div>

            <div class="friends-list">
                <ul class="attentionUl">
                </ul>

                <div class="no-attention" style="display: none;">
                    <img src="__STATIC__/images/icon/暂无要找内容.png" alt="">
                    <p>你现在没有关注任何人</p>
                </div>

                <div class="weui-loadmore" style="display: none;">
                    <i class="weui-loading"></i>
                    <span class="weui-loadmore__tips">正在加载</span>
                </div>
            </div>
        </div>
        <!-- 粉丝 -->
        <div class="tabs fans-tab" style="display: none;">
            <div class="weui-pull-to-refresh__layer">
                <div class='weui-pull-to-refresh__arrow'></div>
                <div class='weui-pull-to-refresh__preloader'></div>
                <div class="down">下拉刷新</div>
                <div class="up">释放刷新</div>
                <div class="refresh">正在刷新</div>
            </div>

            <ul class="fansUl">
            </ul>

            <div class="no-fans" style="display: none;">
                <img src="__STATIC__/images/icon/暂无要找内容.png">
                <p>还没有人关注你，多关注别人积攒下人气</p>
            </div>

            <div class="weui-loadmore" style="display: none;">
                <i class="weui-loading"></i>
                <span class="weui-loadmore__tips">正在加载</span>
            </div>
        </div>

        <!-- tabs end -->



    </div>


    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- jquery-weui-js -->
    <script type="text/javascript" src="__STATIC__/js/js-plugins/jquery-weui-build/jquery-weui.min.js"></script>
    <script>
        var GlobalHost = "http://meiliyue.caapa.org";
        var Friends = {
            user_id: "",

            isScroll: false,

            curList: "", //attentionList fansList
            attentionList: {
                haveLoad: false,
                type: 1,
                page: 1,
            },
            fansList: {
                haveLoad: false,
                type: 2,
                page: 1,
            },


            savePageData: function () {
                //key : friendPage
                let pageData = {
                    curList: Friends.curList,
                    attentionList: {
                        haveLoad: Friends.attentionList.haveLoad,
                        type: Friends.attentionList.type,
                        page: Friends.attentionList.page
                    },
                    fansList: {
                        haveLoad: Friends.fansList.haveLoad,
                        type: Friends.fansList.type,
                        page: Friends.fansList.page
                    },

                    //scrollTop: document.getElementsByClassName('pageWrap')[0].scrollTop
                };
                console.log(pageData)

                sessionStorage.setItem('friendPage', JSON.stringify(pageData))
            },
            updateDom: function (data) {
                if (data && data.length !== 0) {
                    data.forEach(function (item, index) {
                        let $li = $(
                            `
                            <li class="friendItem" data-userId=${item.user_id}>
                                <div class="friendHeadWrap">
                                    <img src="${GlobalHost+item.head_pic}">
                                </div>
                                <label>${item.nickname}</label>
                            </li>
                        `
                        );

                        $(".friendsUl").append($li);
                    });
                } else {
                    $(".noFriends").show();
                }
            },
            updateDomAttend: function (data) {
                // debugger
                let curTabStr = $(".friends-tabcut li.actived").attr("data-tab");
                let $curUl = $("." + curTabStr + "Ul");
                if (data && data.length !== 0) {
                    if (!Friends.isScroll) {
                        $curUl.html("");
                    }
                    data.forEach(function (item, index) {
                        let $li = $(
                            `
                            <li class="friendItem" data-userId=${item.user_id}>
                                <div class="friendItem-avatar">
                                    <div class="friendHeadWrap">
                                        <img src=${GlobalHost+item.head_pic}>
                                    </div>
                                    <span class="videoStatus"></span>
                                </div>

                                <div class="comments-text">
                                    <div>
                                        <span class="listName">${item.nickname}</span>
                                        <span class="sexAge">
                                            <i class="sex"></i>
                                            <span class="age" style="display:none;"></span>
                                        </span>
                                    </div>
                                    <span class="attentionOperate" style="display:none;"></span>
                                    <span class="addFriend" style="display:none;"></span>
                                    <p class="signature" style="display:none;">我最帅</p>
                                </div>
                            </li>
                        `
                        );
                        //视频认证
                        if (item.auth_video_status !== 1) {
                            $li.find(".videoStatus").hide();
                        }
                        //sex
                        if (item.sex == 1) {
                            $li.find(".sexAge").addClass("male");
                        } else {
                            $li.find(".sexAge").addClass("female");
                        }
                        //是否为好友(相互关注)
                        if (item.twoway == 1) {
                            $li.find(".attentionOperate").show();
                        } else {
                            if (curTabStr == "fans") {
                                $li.find(".addFriend").show();
                            }
                        }

                        $curUl.append($li);

                    });
                } else {
                    if (Friends[Friends.curList].page !== 1) {
                        $(".no-" + curTabStr).show();
                    }
                }

                //滚动加载的"正在加载"是否显示
                if ($curUl[0].scrollHeight > ($(".tabs").height() - 50)) {
                    // $(".weui-loadmore").show();
                    $curUl.siblings(".weui-loadmore").show();
                }

                //绑定dom update后才能绑定的事件？
                Friends.eventsBindAfter();

            },
            getAttendList: function () {
                let getPage;
                if (Friends.isScroll) {
                    getPage = Friends[Friends.curList].page + 1;
                } else {
                    getPage = 1;
                }

                let postData = {
                    user_id: Friends.user_id,
                    type: Friends[Friends.curList].type,
                    page: getPage,
                };
                console.log(postData)
                $.ajax({
                    type: "POST",
                    url: GlobalHost + "/index.php/Api/user/attentionFans",
                    data: postData,
                    dataType: "json",
                    success: function (result) {
                        console.log(result.data)

                        // result.data=result.data.concat(result.data).concat(result.data).concat(result.data).concat(result.data)//测试用
                        // result.data=[];//测试用

                        if (Friends.isScroll) {
                            if (result.data.length !== 0) {
                                // Visitors.page++;
                            }
                            Friends.isScroll = false;
                        }

                        Friends.updateDomAttend(result.data);

                        Friends[Friends.curList].haveLoad = true;

                        //下拉刷新done 滚动加载done
                        $(".attention-tab")
                            .add($(".fans-tab"))
                            .pullToRefreshDone();
                        Friends.loading = false;
                    }
                });
            },
            getFriendsList: function () {
                $.ajax({
                    type: "POST",
                    url: GlobalHost + "/index.php/Api/user/friend",
                    data: {
                        user_id: Friends.user_id
                    },
                    dataType: "json",
                    success: function (result) {
                        console.log(result.data)

                        // result.data=result.data.concat(result.data).concat(result.data).concat(result.data).concat(result.data).concat(result.data).concat(result.data).concat(result.data).concat(result.data).concat(result.data);//测试用
                        // result.data=[];//测试用

                        Friends.updateDom(result.data);
                    }
                });
            },
            initPullToRefresh: function () {
                //下拉刷新
                $(".attention-tab")
                    .add($(".fans-tab")).pullToRefresh(function () {
                        Friends.getAttendList();
                    });
                //滚动加载
                $(".attention-tab")
                    .add($(".fans-tab")).infinite().on("infinite", function () {
                        Friends.isScroll = true;
                        //
                        if (Friends.loading) return;
                        Friends.loading = true;
                        Friends.getAttendList();
                    });
            },
            openLoading: function () {
                if ($(".mask").length == 0) {
                    $("body").append($('<div class="mLoadingMask"></div>'));
                }
                if ($(".mLoading").length == 0) {
                    $("body").append($('<div class="mLoading"></div>'));
                }
            },
            closeLoading: function () {
                $(".mLoadingMask")
                    .add($(".mLoading")).remove();
            },
            eventsBindAfter: function () {
                //对粉丝 加关注
                $(".addFriend").click(function (event) {
                    event.stopPropagation();
                    let $li = $(this).closest("li");
                    let toUserId = $li.attr("data-userId");
                    let postData = {
                        user_id: Friends.user_id,
                        toUserId: Number(toUserId),
                    };
                    console.log(postData)
                    Friends.openLoading();
                    $.ajax({
                        type: "POST",
                        url: GlobalHost + "/index.php/Api/User/attention",
                        data: postData,
                        dataType: "json",
                        success: function (result) {
                            console.log(result)

                            Friends.closeLoading();
                            // setTimeout(function(){
                            //     Friends.closeLoading();
                            // },200)
                        }
                    });
                });
            },
            eventsBind: function () {
                //back
                $(".back").click(function () {
                    window.history.back(-1);
                });
                //切换tab
                $(".friends-tabcut li").click(function () {
                    $(this).addClass("actived").siblings().removeClass("actived");

                    let tabName = $(this).attr("data-tab");
                    $("." + tabName + "-tab").show().siblings(".tabs").hide();

                    if (tabName !== "friends") {
                        Friends.curList = tabName + "List";
                        if (!Friends[Friends.curList].haveLoad) {
                            Friends.getAttendList();
                        }
                    }
                });
                //点击 头像 进入他人的个人主页
                $(".attentionUl")
                    .add($(".fansUl")).delegate(".friendItem-avatar", "click", function () {
                        //savePageData()

                        let user_id = Friends.user_id;
                        let toUserId = $(this).closest("li").attr("data-toUserId");
                        window.location.href = GlobalHost + "/index.php/mobile/user/homePage/user_id/" +
                            user_id + "/toUserId/" + toUserId + ".html";
                    });
            },
            init: function () {
                //user_id
                if (sessionStorage.getItem("mUserInfo")) {
                    let mUserInfo = JSON.parse(JSON.parse(sessionStorage.getItem("mUserInfo")));
                    console.log(mUserInfo)
                    Friends.user_id = Number(mUserInfo.user_id);
                } else {
                    Friends.user_id = 1; //测试用
                }

                Friends.initPullToRefresh();

                //从session获取之前的页面数据
                if (sessionStorage.getItem("friendPage")) {
                    let pageData = JSON.parse(sessionStorage.getItem("friendPage"))
                    console.log(pageData)

                    Friends.curList = pageData.curList;
                    Friends.attentionList = {
                        haveLoad: false,
                        page: 1
                    };
                    Friends.fansList = {
                        haveLoad: false,
                        page: 1
                    };

                    //tab页
                    $(".friends-tabcut li").removeClass("actived");
                    $(".tabs").hide();
                    switch (Friends.curList) {
                        case "":
                            $(".friends-tabcut .friends").addClass("actived");
                            $(".friends-tab").show();
                            break;
                        case "attentionList":
                            $(".friends-tabcut .attention").addClass("actived");
                            $(".attention-tab").show();
                        case "fansList":
                            $(".friends-tabcut .fans").addClass("actived");
                            $(".fans-tab").show();
                        default:
                            break;
                    }
                    // $("[data-list='" + Visitors.curList + "']").addClass("actived").

                    //滚动位置
                    // setTimeout(function () {
                    //     document.getElementsByClassName('comments-content')[0].scrollTop = pageData.scrollTop;
                    // }, 0);
                }


                Friends.getFriendsList();

                Friends.eventsBind();
            }
        };
        $(function () {
            Friends.init();
        });
    </script>
</body>

</html>