<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>别人的个人主页</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/base.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/wode-common.css">
    <script type="text/javascript">
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 375 * 100 + 'px';
    </script>
</head>

<body class="homepage">
    <div class="allWrap">
        <header>
            <a class="back homepageBack" href="javascript:void(0)"></a>
            <div class="title">nickname</div>
            <a class="operate" href="javascript:void(0)"></a>
        </header>

        <div class="all-content">

            <div class="head">
                <div class="picMask"></div>
            </div>

            <div class="edit-personal-avatar">
                <div style="position: relative;">
                    <div class="avatar-pic">
                        <img src="__STATIC__/images/icon/tx.png">
                    </div>
                    <span class="videoStatus" style="display: none;"></span>
                </div>
                
                <div class="avatar-content">
                    <span class="sexAge">
                        <i class="sex"></i>
                        <span class="age">age</span>
                    </span>
                    <span class="edit-personal-constellation">摩羯座</span>
                    <span class="haveAttend">
                        <span class="attend" style="display:none;">加关注</span>
                        <span class="attended" style="display:none;">已关注</span>
                        <span class="attendAll" style="display: none;">相互关注</span>
                    </span>
                    <p>
                        <img class="areaPic" src="__STATIC__/images/icon/定位-2.png">
                        <span class="edit-personal-area">北京</span>&nbsp;
                        <span class="distance">2km</span>
                    </p>
                </div>
            </div>

            <div class="publicPic">
                <div class="publicPic-title">
                    <p>个人相册</p>
                    <p class="picCount">2</p>
                </div>
                <ul class="myPhotos">
                    <!-- <li class="edit-pic-item">
                        <img src="__STATIC__/images/icon/tx.png">
                    </li> -->
                </ul>

            </div>

            <div class="myInvite">
                <div class="myInvite-title">
                    <p class="myInviteText">TA的邀约</p>
                    <p class="myInviteCount">0</p>
                </div>

                <div class="myInvite-content">
                    <div class="myInvite-tip">
                        <p class="noInvite" style="display: none;">未发布任何邀约</p>
                        <!-- <p data-id="2">聊聊理想</p> -->
                    </div>
                    <div class="inviteToMine" style="display: none;">
                        邀请他参加我的邀约
                    </div>
                    <div class="releaseInvite" style="display: none;">
                        发布邀约
                    </div>
                </div>
            </div>

            <div class="myTalk">
                <div class="myTalk-title">
                    <p class="myTalkText">动态</p>
                    <p class="myTalkCount">0</p>
                </div>

                <ul class="myTalkList">
                    <!-- <li class="myTalk-item">
                        <img src="__STATIC__/images/icon/tx.png">
                    </li> -->
                </ul>

                <a href="javascript:void(0)" class="more">
                    <img src="__STATIC__/images/icon/back.png">
                </a>
            </div>

            <div class="myApprove">
                <div class="myApprove-title">
                    <p class="myApproveText">TA的认证</p>
                </div>

                <ul>
                    <li class="myApprove-item">
                        <div class="myApprove-pic">
                            <img src="__STATIC__/images/icon/tx.png">
                        </div>
                        <p class="myApprove-phone">手机号未认证</p>
                        <a href="javascript:void(0)" class="approveBtn" style="display:none;">邀请认证</a>
                    </li>
                    <li class="myApprove-item">
                        <div class="myApprove-pic">
                            <img src="__STATIC__/images/icon/tx.png">
                        </div>
                        <p class="myApprove-video">形象视频未认证</p>
                        <a href="javascript:void(0)" class="approveBtn" style="display:none;">邀请认证</a>
                    </li>
                    <li class="myApprove-item">
                        <div class="myApprove-pic">
                            <img src="__STATIC__/images/icon/tx.png">
                        </div>
                        <p class="myApprove-identity">身份未认证</p>
                        <a href="javascript:void(0)" class="approveBtn" style="display:none;">邀请认证</a>
                    </li>
                    <!-- <li class="myApprove-item">
                        <div class="myApprove-pic">
                            <img src="__STATIC__/images/icon/tx.png">
                        </div>
                        <p class="myApprove-job">职业未认证</p>
                        <a href="javascript:void(0)" class="approveBtn" style="display:none;">邀请认证</a>
                    </li> -->
                </ul>
            </div>

            <div class="aboutMe">
                <div class="aboutMe-title">
                    <p class="aboutText">关于TA</p>
                    <p class="aboutMeCount">18%</p>
                </div>

                <div class="aboutMe-contentWrap">
                    <ul class="aboutMe-list1">
                        <li class="aboutMe-item">
                            <label>约玩ID</label>
                            <div class="aboutMe-item-content">
                                <span class="yuewanID">id</span>
                            </div>
                        </li>
                        <!-- <li class="aboutMe-item">
                            <label>星座</label>
                            <div class="aboutMe-item-content">
                                <span class="modifyData constellation">摩羯座</span>
                            </div>
                        </li> -->
                        <li class="aboutMe-item">
                            <label>感情状况</label>
                            <div class="aboutMe-item-content">
                                <span class="modifyData emotion_status">emotion_status</span>
                            </div>
                        </li>
                        <li class="aboutMe-item">
                            <label>职业</label>
                            <div class="aboutMe-item-content">
                                <span class="modifyData profession">profession</span>
                            </div>
                        </li>
                        <li class="aboutMe-item">
                            <label>收入</label>
                            <div class="aboutMe-item-content">
                                <span class="modifyData income">income</span>
                            </div>
                        </li>
                        <li class="aboutMe-item">
                            <label>身高</label>
                            <div class="aboutMe-item-content">
                                <span class="modifyData height">height</span>
                            </div>
                        </li>
                        <li class="aboutMe-item">
                            <label>体重</label>
                            <div class="aboutMe-item-content">
                                <span class="modifyData weight">weight</span>
                            </div>
                        </li>
                        <li class="aboutMe-item signatureItem">
                            <label>个性签名</label>
                            <div class="aboutMe-item-content">
                                <span class="modifyData signature">0</span>
                            </div>
                        </li>
                        <!-- <li class="aboutMe-item">
                            <label>对另一半的要求</label>
                            <div class="aboutMe-item-content">
                                <span class="modifyData"></span>
                            </div>
                        </li> -->
                        <li class="aboutMe-item">
                            <label>最近活跃时间</label>
                            <div class="aboutMe-item-content">
                                <span class="modifyData active_time">0</span>
                            </div>
                        </li>
                        <li class="aboutMe-item satis_parts_item">
                            <label>最满意部位</label>
                            <div class="aboutMe-item-content">
                                <span class="modifyData satisfactory_parts">
                                    <!-- <ul class="clearfix">
                                        <li>鼻子</li>
                                        <li>脸</li>
                                    </ul> -->
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- 模态框 -->

            <div class="avatarOperating" style="display: none;">
                <ul>
                    <li class="">举报</li>
                    <li class="">拉黑</li>
                    <!-- <li class="">移除粉丝</li> -->
                    <li class="home-cancel">取消</li>
                </ul>
            </div>

            <div class="greet" style="display: none;">
                <p>
                    撩他钱请先丰富自己的资料，大家都这么忙，谁会搭理一个“干瘪”的人呢过
                </p>
                <div class="greet-btngroup">
                    <a href="javascript:void(0)" class="tryChat">聊聊看</a>
                    <a href="javascript:void(0)" class="complete">这就去完善</a>
                </div>
            </div>

            <div class="confirmDelete" style="display: none;">
                <p>
                    确定删除好友？
                </p>
                <div class="confirmDelete-btngroup">
                    <a href="javascript:void(0)" class="cancelDelete">点错了</a>
                    <a href="javascript:void(0)" class="delete">确认删除</a>
                </div>
            </div>

            <div class="attendSuccess" style="display: none;">
                <p>
                    关注成功，若对方也关注你，点聊天气泡即可聊天~
                </p>
            </div>

            <!-- 个性签名 -->

            <div class="m_shade"></div>
            <div class="signatureDialog" style="display: none;">
                <p class="signatureDialogTitle">个性签名</p>
                <p class="signatureDialogContent"></p>
                <p class="signatureDialogBtn">确定</p>
            </div>

        </div>

        <div class="alreadyContact" style="display: none;">
            <p>你们已建立过联系</p>
            <span class="letsChat">打开聊天</span>
        </div>

        <footer>
            <img src="__STATIC__/images/icon/消息.png" alt="">
            <span class="sayHi">打个招呼</span>
        </footer>
    </div>

    <!-- 模糊之外 -->

    <div class="chatFirst" style="display: none;">
        <p class="chatFirst-title">
            邀请TA参与我的邀约
        </p>
        <p class="eatFood">
            <span></span>吃美食</p>

        <span class="closeChatFisrt"></span>
    </div>

</body>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
    var GlobalHost = "http://meiliyue.caapa.org"
    var Homepage = {
        _mTimer: null,
        user_id: "",
        toUserId: "",
        attentionStatus: 0, //userid对touserid的关注状态

        updateDom: function (data) {

            var sexClass = data.baseinfo.sex == "1" ? "male" : "female"
            var dynamicsArr = []
            var approveBtnText = ""

            Homepage.attentionStatus = data.baseinfo.attention

            $(".homepage>.allWrap>header .title").html(data.baseinfo.nickname)
            if (data.baseinfo.head_pic && data.baseinfo.head_pic !== "") {
                $(".avatar-pic img").attr("src", GlobalHost + data.baseinfo.head_pic)
            }
            if(data.baseinfo.auth_video_status===1){
                $(".edit-personal-avatar .videoStatus").show();
            }
            $(".avatar-content .sexAge").addClass(sexClass)
            $(".avatar-content .sexAge .age").html(data.baseinfo.age)
            // $(".edit-personal-constellation").html()//星座
            switch (data.baseinfo.attention) {
                case 0: //未关注
                    $(".haveAttend").find(".attend").show()
                    break;
                case 1: //已关注
                    $(".haveAttend").find(".attended").show()
                    break;
                case 2: //已被关注
                    $(".haveAttend").find(".attend").show()
                    break;
                case 3: //相互关注
                    $(".haveAttend").find(".attendAll").show()
                    break;
                default:
                    break;
            }
            // $(".inviteToMine").show()
            approveBtnText = "邀请认证"
            if (data.baseinfo.emotion_status && data.baseinfo.emotion_status !== "") {
                $(".emotion_status").html(data.baseinfo.emotion_status)
            } else {
                $(".emotion_status").html("填写")
            }
            $(".edit-personal-area").html(data.baseinfo.city)
            if (data.photos) {
                $(".picCount").html(data.photos.length)
                //个人相册
                // data.photos.forEach(function(item,index){

                // })
            }
            //TA的邀约
            $(".myInviteCount").html(data.invite.length)
            if (data.invite.length == 0) {
                $(".noInvite").show()
            } else {
                data.invite.forEach(function (value, index) {
                    $(".myInvite-tip").append($('<p data-id="' + value.id + '">' + value.title + '</p>'))
                })
            }
            //TA的动态
            if (data.dynamics && data.dynamics !== "") {
                if (Object.prototype.toString.call(data.dynamics) === '[object Array]') {
                    dynamicsArr = data.dynamics
                } else {
                    dynamicsArr.push(data.dynamics)
                }
                $(".myTalkCount").html(dynamicsArr.length)
                dynamicsArr.forEach(function (value, index) {
                    $(".myTalkList").append($(
                        `
                        <li class="myTalk-item" data-id=${value.id}>
                            ${value.title}
                        </li>
                        `
                    ))
                })
            }
            //认证
            $(".approveBtn").each(function () {
                $(this).html(approveBtnText)
            })

            if (data.baseinfo.mobile_validated == 0) {
                $(".myApprove-phone").prev(".myApprove-pic").find("img").attr("src", "__STATIC__/images/icon/微信@2x.png")
                $(".myApprove-phone").html("手机号未认证")
                $(".myApprove-phone+.approveBtn").show()
            } else {
                $(".myApprove-phone").prev(".myApprove-pic").find("img").attr("src", "__STATIC__/images/icon/微信@2x.png")
                $(".myApprove-phone").html("手机号已认证")
                $(".myApprove-phone+.approveBtn").hide()
            }

            if (data.baseinfo.auth_video_status == 0) {
                $(".myApprove-video").prev(".myApprove-pic").find("img").attr("src","__STATIC__/images/icon/视频未认证@2x.png")
                $(".myApprove-video").html("形象视频未认证")
                $(".myApprove-video+.approveBtn").show()
            } else {
                $(".myApprove-video").prev(".myApprove-pic").find("img").attr("src","__STATIC__/images/icon/小视频@2x.png")
                $(".myApprove-video").html("形象视频已认证")
                $(".myApprove-video+.approveBtn").hide()
            }

            if (data.baseinfo.auth_identity_status == 0) {
                $(".myApprove-identity").prev(".myApprove-pic").find("img").attr("src","__STATIC__/images/icon/身份未认真@2x.png")
                $(".myApprove-identity").html("身份未认证")
                $(".myApprove-identity+.approveBtn").show()
            } else {
                $(".myApprove-identity").prev(".myApprove-pic").find("img").attr("src","__STATIC__/images/icon/身份未认真@2x.png")
                $(".myApprove-identity").html("身份已认证")
                $(".myApprove-identity+.approveBtn").hide()
            }

            // about me----------------------------------
            $(".yuewanID").html(data.baseinfo.uuid)
            //星座
            // $(".constellation").html()
            //感情状态
            if (data.baseinfo.emotion_status && data.baseinfo.emotion_status !== "") {
                $(".emotion_status").html(data.baseinfo.emotion_status)
            } else {
                $(".emotion_status").html("未填")
            }
            //职业
            if (data.baseinfo.profession && data.baseinfo.profession !== "") {
                $(".profession").html(data.baseinfo.profession)
            } else {
                $(".profession").html("未填")
            }
            //收入
            if (data.baseinfo.income && data.baseinfo.income !== "") {
                switch (data.baseinfo.income) {
                    case 1:
                        $(".income").html("3000元以上/月")
                        break;
                    case 2:
                        $(".income").html("5000元以上/月")
                        break;
                    case 3:
                        $(".income").html("10000元以上/月")
                        break;
                    case 4:
                        $(".income").html("20000元以上/月")
                        break;
                    case 5:
                        $(".income").html("50万元以上/年")
                        break;
                    case 6:
                        $(".income").html("100万元以上/年")
                        break;
                    case 7:
                        $(".income").html("保密")
                        break;
                    default:
                        break;
                }
            } else {
                $(".income").html("未填")
            }
            //身高
            if (data.baseinfo.height && data.baseinfo.height !== "") {
                $(".height").html(data.baseinfo.height + "cm")
            } else {
                $(".height").html("未填")
            }
            //体重
            if (data.baseinfo.weight && data.baseinfo.weight !== "") {
                $(".weight").html(data.baseinfo.weight + "kg")
            } else {
                $(".weight").html("未填")
            }
            //对爱情的看法
            if (data.baseinfo.signature && data.baseinfo.signature !== "") {
                $(".signature").html(data.baseinfo.signature)
            } else {
                $(".signature").html("未填")
            }

            //对另一半的要求？


            //最近活跃时间
            if (data.baseinfo.active_time && data.baseinfo.active_time !== "") {
                let timeStr=stampToStr(data.baseinfo.active_time);
                $(".active_time").html(timeStr);
            } else {
                // $(".active_time").html("填写")
            }
            //最满意部位
            if (data.baseinfo.satisfactory_parts && data.baseinfo.satisfactory_parts !== "") {
                $(".satisfactory_parts").append($('<ul class="clearfix"></ul>'))
                var partsArr = data.baseinfo.satisfactory_parts.split(",")
                partsArr.forEach(function (value) {
                    $(".satisfactory_parts ul").append($('<li>' + value + '</li>'))
                })
            } else {
                $(".active_time").html("未填")
            }

            //
            Homepage.eventsBind()
        },
        getDataUpdateDom: function () {
            var postData = {
                user_id: Homepage.user_id,
                toUserId: Homepage.toUserId
            }
            var url = GlobalHost + "/index.php/Api/User/homePage"
            console.log(postData)

            $.ajax({
                type: "POST",
                url: url,
                data: postData,
                dataType: "json",
                success: function (result) {
                    console.log(result.data)

                    Homepage.updateDom(result.data)
                }
            })
        },
        addAttention: function (callback) {
            var postData = {
                user_id: Homepage.user_id,
                friend_id: Homepage.toUserId
            }
            console.log(postData)
            $.ajax({
                type: "POST",
                url: GlobalHost + "/index.php/Api/User/attention",
                data: postData,
                dataType: "json",
                success: function (result) {
                    console.log(result.data)
                    callback()
                }
            })
        },
        cancelAttention: function (callback) {
            var postData = {
                user_id: Homepage.user_id,
                friend_id: Homepage.toUserId
            }
            console.log(postData)
            $.ajax({
                type: "POST",
                url: GlobalHost + "/index.php/Api/User/cancelAttention",
                data: postData,
                dataType: "json",
                success: function (result) {
                    console.log(result.data)
                    callback()
                }
            })
        },
        savePageSession: function () {
            //
        },
        showSignature:function(){
            console.log($(".signature").html())
            $(".signatureDialogContent").html($(".signature").html())

            $(".m_shade").show()
            $(".signatureDialog").show()

            $(".signatureDialogBtn").click(function(){
                $(".m_shade").hide()
                $(".signatureDialog").hide()
            })
        },
        showVideo:function({user_id,head_pic,src}){
            console.log(user_id,head_pic,src)
            let $fullScreen=$(`
                <div class="fullScreen">
                    <div class="videoHeader">
                        <div class="closeFullScreen"></div>
                        <div class="videoOperate"></div>
                        <div class="img-box">
                            <img src=${GlobalHost+head_pic}>
                        </div>
                    </div>

                    <div class="fullScreenScroll">
                        <div class="fullScreenWrap">
                            <span class="progressBar"></span>
                            <video id="video1" width="100%" height="100%" src=${src} autoplay loop></video>
                            <div class="videoFooter">
                                <div class="videoCommentBtn"></div>
                                <span class="littleTri"></span>
                            </div>
                        </div>
                        <!-- 小视频评论 -->
                        <div class="" style="height: 300px;background-color: red;;">

                        </div>
                        
                        <!-- 小视频评论input -->
                        <div class="videoInput">
                            <input type="text">
                            <span class="sendComment">发送</span>
                        </div>
                    </div>
                </div>
            `);

            //点击关闭事件
            $fullScreen.find(".closeFullScreen").click(function(){
                $fullScreen.remove();
            });
            
            $("body").append($fullScreen);
        },
        eventsBind: function () {
            $('.operate').click(function () {
                if ($(".mask").length == 0) {
                    $('body').append($('<div class="mask"></div>'))
                }
                $('.avatarOperating').show()
                // $('.avatarOperating').show().animate({'bottom':'0'},300)
                // $('body').css('overflow', 'hidden')
            })
            //点击弹出的 取消
            $('.home-cancel').click(function () {
                $('.mask').remove()
                // $('.avatarOperating').animate({'bottom':'-2rem'},300,function(){
                $('.avatarOperating').hide()
                $('.gotoEditHome').hide()
                // })
                // $('body').css('overflow', 'auto')
            })

            $('.sayHi').click(function () {
                if ($(".mask").length == 0) {
                    $('body').append($('<div class="mask"></div>'))
                }
                $('.greet').show()
                // $('body').css('overflow', 'hidden')
            })

            $('.tryChat').click(function () {
                // $('body').append($('<div class="mask"></div>'))
                $('.greet').hide()
                $('.chatFirst').show()
                $('.allWrap').addClass('blur')
                // $('body').css('overflow', 'hidden')
            })

            $('.closeChatFisrt').click(function () {
                $('.mask').remove()
                $('.chatFirst').hide()
                $('.allWrap').removeClass('blur')
                // $('body').css('overflow', 'auto')
            })

            //返回
            $(".homepageBack").click(function () {
                window.history.back(-1)
            })
            //点击 “关注” 系列
            //点击 加关注
            $(".attend").click(function () {
                Homepage.addAttention(function () {
                    $('.attendSuccess').show().addClass('mfadeout')
                    clearTimeout(Homepage._mTimer)
                    Homepage._mTimer = setTimeout(function () {
                        $('.attendSuccess').hide()
                    }, 3000)

                    $(".attend").hide()
                    if (Homepage.attentionStatus == 2) { //本来就是已被关注了
                        $(".attendAll").show()

                        Homepage.attentionStatus = 3
                    } else {
                        $(".attended").show()

                        Homepage.attentionStatus = 1
                    }
                })
            })
            //点击 已关注
            $(".attended").click(function () {
                Homepage.cancelAttention(function () {
                    $(".attended").hide()
                    $(".attend").show()

                    Homepage.attentionStatus = 0
                })
            })
            //点击 相互关注
            $(".attendAll").click(function () {
                Homepage.cancelAttention(function () {
                    $(".attendAll").hide()
                    $(".attend").show()

                    Homepage.attentionStatus = 2
                })
            })
            //点击 “关注” 系列 end

            //查看个性签名
            $(".signatureItem").click(function(){
                Homepage.showSignature();
            });
            //点击视频认证
            $(".edit-personal-avatar").delegate(".videoStatus","click",function(){
                let option={
                    user_id:1,
                    head_pic:"/public/upload/head_pic/20180728/938806dc024e113e09aa3b0321e2b91e.jpg",
                    src:"https://media.w3.org/2010/05/sintel/trailer.mp4",
                };
                Homepage.showVideo(option);
            });
        },
        init: function () {
            //得到user_id
            Homepage.user_id = 2
            Homepage.toUserId = 1
            //获取用户信息
            Homepage.getDataUpdateDom()
        }
    }
    $(function () {
        Homepage.init()
    });
    //时间戳转日期时间
    ;function stampToDate(timestamp) {
        var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        Y = date.getFullYear() + '-';
        M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
        D = (date.getDate()<10?"0"+date.getDate():date.getDate()) + ' ';
        h = (date.getHours()<10?"0"+date.getHours():date.getHours()) + ':';
        m = (date.getMinutes()<10?"0"+date.getMinutes():date.getMinutes());
        // s = date.getSeconds();
        return Y+M+D+h+m;
    }
    //时间戳转文字
    ;function stampToStr (stamp) {//传来的stamp十位数
        if (!stamp) return '';

        let nowStamp=Math.round((new Date().getTime())/1000);
        let howLong=nowStamp-stamp;

        if(howLong<60){//1分钟内
            return "1分钟内";
        }else if(howLong<3600){//1小时内，显示分钟数
            let minutes=Math.floor(howLong/60);
            return minutes+"分钟前";
        }else if(howLong<43200){//12小时内，显示小时数
            let hours=Math.floor(howLong/3600);
            return hours+"小时前";
        }else if(howLong>=43200&&howLong<86400){//大于12小时，小于24小时
            let dateStr=stampToDate(stamp);
            console.log(dateStr)
            let minStr=dateStr.substr(dateStr.length-5);
            return "昨天 "+minStr;
        }else if(howLong>86400){//大于24小时，直接显示时间
            return stampToDate(stamp);
        }
    }
</script>

</html>